# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.
1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운
```
# hello
## hello
### hello

1. hello
2. hello
3. hello

* hello
* hello
* hello
```
* 선택 마크다운(필수가 아니니 부담가지지마세요.)

# h1
## h2
### h3
#### h4
##### h5
###### h6

---

1. hello
2. hello
3. hello

* hello
* hello
* hello

- hello
- hello
- hello

__굵게__
**굵게**
_기울여 쓰기_
*기울여 쓰기*
~취소선~
~~취소선~~

> 인용문 작성하기
`인라인 코드는 이렇게 작성해요.`

[인라인 링크](https://velog.io/)

![이미지 설명](이미지 링크)


* table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
| 1 | 2     | 3 | 4 | 5     |
|---|-------|---|---|-------|
| 1 | hello | 3 | 4 | world |

* [ ] hello
* [X] hello

# Python

In [ ]:
#행 단위 주석입니다.
"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나 
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나 \n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''
data

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)
# 한 줄에 79자 이상을 사용하지 않는다. (권고사항)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
    print('큰 따옴표로 세번 묶거나')

0
큰 따옴표로 세번 묶거나
1
큰 따옴표로 세번 묶거나
2
큰 따옴표로 세번 묶거나
3
큰 따옴표로 세번 묶거나
4
큰 따옴표로 세번 묶거나
5
큰 따옴표로 세번 묶거나
6
큰 따옴표로 세번 묶거나
7
큰 따옴표로 세번 묶거나
8
큰 따옴표로 세번 묶거나
9
큰 따옴표로 세번 묶거나

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수 # 별로 중요하지 않음
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return

class A: # 자동차 공장
    pass

n = hello # function (내가 정의한 함수)
o = print # bulit-in function -> 80%를 사용할 것임 
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world') # 역슬래시 + n 줄 바뀜 "엔터"
print('hello \t world') # 역슬래시 + t 공백 "탭"
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
# tpye -> string
hello = 10
print(r'hello \n world') # str -> raw(날 것을 보여줌) Django 2.x까지 url, parsing을 이렇게 사용하고 있어요.)
print(f'hello \t world{hello}') # 앞으로 f-string 기법
print('hello world{}'.format(hello))

hello \n world
hello 	 world10
hello world10

In [ ]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

2300.0
2300.0

2300.0

In [ ]:
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** -3)

2300.0
2300.0

0.0023

In [ ]:
type(2.3E3)

float

In [ ]:
class A: # 자동차 공장
    pass
a = A # class
b = A() # instance # 자동차
print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

type

In [ ]:
print(type(a))

<class 'type'>

In [ ]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 위만큼 자주 사용하진 않지만 타입 확인 코드
a = 10
isinstance(a,int)
isinstance(a,float)

False

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.
# x라는 포스트잇도 붙였지만, y라는 포스트잇도 붙여져 있는 것이다. 
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반환한다.

(140613597512208, 140613597512208)

In [ ]:
x is y # x가 가르키는 값과 y가 가르키는 값이 같은가? 를 물어보는 것

True

In [ ]:
x = 257
y = 257

id(x), id(y)

(140613111485360, 140613111484368)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.  --> 그래서 257은 둘 다 같지않음

In [ ]:
x = -5
y = -5

id(x), id(y)

(140613597511728, 140613597511728)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

'aa'

In [ ]:
# 왜 이어 붙었지?
# 컴퓨터 입장에서는 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서 
# 사회 통념적인 약속 -> 코드로 구현  
# type, dir
# 이러한 약속들은 매직메서드 (__init__....)를 통해 구현하게 됩니다.

# 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다. 
class int(int):
    def __add__(self, a):
        return 'kimyeoju'
int('10') + int('10')

'kimyeoju'

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a
int('10') + int('10')

100

In [ ]:
dir(10) # 언더바가 없는 것들은 편리하게 사용할 수 있는 '편의기능'

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수
value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x # y가 x를 가리키는게 아니라 10을 가리키는 것
z = y 
print(id(x), id(y), id(z))

140613597512208 140613597512208 140613597512208

In [ ]:
x = 10
y = x # y가 x를 가리키는게 아니라 10을 가리키는 것
x = 100
print(x,y)
print(id(x), id(y), id(z))

100 10
140613597515088 140613597512208 140613597512208

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.

* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로) # 뱀이 기어다니는 것 같다고 스네이크
hello_world = 10
# 카멜 표기법(JaveScript에서 주로) # 낙타 등처럼 올라오는 것 같다고 카멜
helloWorldHello = 10
# 파스칼 표기법 (Class 같은 곳에서 많이 사용)
Hello = 10

In [ ]:
# 10hello = 100 (x) 숫자가 앞으로 오면 에러가 남
hello10 = 10
_= 100 # 언더바는 자주 사용되는데 이렇게 사용되진 않는다.
print(_)

100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을 때 
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
#a = 100 #런타임 뒤에 print(a) 하면 안나옴 왜? a가 없기 때문

In [ ]:
# if = 100
# print = 100

## 입력과 출력

In [ ]:
# x = input() 10을 넣어도 여기선 숫자로 표기
# x

In [ ]:
# x + x # 사용자에게 받은 입력은 str

In [ ]:
print(10, 10, 10)

10 10 10

In [ ]:
print('hello', 'world', 'hello')

hello world hello

In [ ]:
print(x, x)

100 100

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

hello world!hello world!hello world!

In [ ]:
print('hello','world', sep='!') # , 사이에 붙는것
print('010', '5044', '2903', sep='-')

hello!world
010-5044-2903

In [ ]:
이름 = '김여주'
나이 = 10
print('1. 제 이름은 김여주입니다. 제 나이는 10입니다.')
print('2. 제 이름은', 이름, '입니다. 제 나이는', 나이, '입니다.')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.' %(이름,나이)) # 요즘에는 잘 사용하지 않음 
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름,나이))
print(f'4. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 김여주입니다. 제 나이는 10입니다.
2. 제 이름은 김여주 입니다. 제 나이는 10 입니다.
3. 제 이름은 김여주입니다. 제 나이는 10입니다.
4. 제 이름은 김여주입니다. 제 나이는 10입니다.
4. 제 이름은 김여주입니다. 제 나이는 10입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100*10}')

1000

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않는다.
result = 100 * 10
print(f'{result}')

1000

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해진다. 
print(f'{"hello":<10}') #왼쪽정렬
print(f'{"hello":>10}') #오른쪽정렬
print(f'{"hello":^10}') #중앙정렬

hello
     hello
  hello

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

     hello
     hello

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해진다. 
print(f'{"hello":=<10}') #왼쪽정렬
print(f'{"hello":=>10}') #오른쪽정렬
print(f'{"hello":=^10}') #중앙정렬

hello=====
=====hello
==hello===

In [ ]:
# 둘 다 잊으셔도 됩니다. 어디에 활용되는지 궁금하다 하신 분이 있어서 한 것
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [ ]:
bin(9 | 30)[2:].replace('1','#').replace('0','')

'#####'

In [ ]:
# 요정도 활용을 합니다. 
print(f'{"start":-^20}')

-------start--------

In [ ]:
print(f'{0.12345:0.2f}')

0.12

* 이 아래 코드는 필수는 아닙니다.
참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

## int

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현한다. 
* 2진수, 8진수, 16진수는 정수로 표현된다.

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
'bit_length' # bit로 바꾸었을 때 비트의 길이 
'to_bytes' # 컴퓨터에 저장하는 바이트의 형태로 숫자를 표현

'to_bytes'

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB(키로바이트) = 1024Bytes 
# 1MB(메가바이트) = 1024Kb 
# 1GB(기가바이트) = 1024MB
# 1TB(테라바이트) = 1024GB
# 1PB(페타바이트) = 1024TB

In [ ]:
(9).bit_length() #1001

4

In [ ]:
# 컴퓨터가 숫자를 어떻게 저장하는가?
(2).to_bytes(1,byteorder='little', signed=True)
(1).to_bytes(1,byteorder='little', signed=True)
(0).to_bytes(1,byteorder='little', signed=True)
(-1).to_bytes(1,byteorder='little', signed=True)
(-2).to_bytes(1,byteorder='little', signed=True)

#9의 보수 99-12=87 9999-1112-8,887
#9의 보수에서 +1을 하면 10의보수 
# 1의 보수는 111-101 = 010 숫자가 바뀌는걸 볼 수 있다
# 2의 보수는 1의 보수에서 + 1 => 011

# 컴퓨터는 음수를 자체적으로 표현할 수 없기 때문에 2의 보수를 사용
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비 
# 따라서 2의 보수를 사용

b'\xfe'

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 2의 2의 보수 (1의 보수에서 +1)
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺀다. 

# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1+ 4 * 10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f -> 10

In [ ]:
# color의 표현
#25/96/be
# 000000 ~ ffffff
## ff는 10진수로 무슨 숫자를 의미 
# 100 - 1 => ff가 된다. 그래서 256-1  
# 그래서 rgb는 0~255

In [ ]:
a = 10
type(a)

int

In [ ]:
int('10') + int('10')

100

In [ ]:
int('10',2) # 2진법으로 10은?

2

In [ ]:
int('10',8) # 8진법으로 10은?

8

In [ ]:
int('10',16) # 16진법으로 10은?

16

In [ ]:
print(0b110) # 바이너리
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

6
72
272

In [ ]:
a = 10
type(a) == int
isinstance(a, int)

False

## float (실수)

In [ ]:
a = 10.1 
type(a)

float

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [ ]:
a = 10
b = 10.1
a + b # 다른 일부 언어에서는 허용되지 않는다

20.1

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0,1이 무한대수가 발생한다.)
0.1 + 0.2 # 대부분의 언어 공통이다.

0.30000000000000004

In [ ]:
a = 0.1

In [ ]:
# 20번 반복
a = a + 0.1
a

0.2

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.

- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO kimyeoju'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.

'p'

In [ ]:
type(s)

str

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용한다.

('paullab ceo kimyeoju', 'PAULLAB CEO KIMYEOJU')

In [ ]:
s = 'paullab CEO kimyeoju'
s.find('C'), s.index('C') # find와 index차이점 알기

(8, 8)

In [ ]:
# 견고한 코드란 ?
# 시간이 지나도 그대로 사용할 수 있고 
# error가 예측 가능하게 하는 코드
# 네이버에 이미지 슬라이딩 코드 만든지 10년이 됐는데도 아직도 사용함 
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요하다. #
s.find('Z')

-1

In [ ]:
# Eroor가 나면 Eroor를 주는 것이 좋을 수 있다.
# Eroor를 안주는 언어로 JavaScript
s.index('Z')

ValueError: ignored

In [ ]:
s = 'paullab CEO kimyeoju'
s.find('CEO')

In [ ]:
# count 별 5개 
s = 'paullab CEO kimyeoju'
s.count('l')

In [ ]:
str([1, 2, 3, 4, 5])

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

In [ ]:
str([1, 2, 3, 4, 5]).count(',')

In [ ]:
str([1, 2, 11, 4, 111]).count('1')

In [ ]:
str(list(range(0, 10001))).count('8')

* https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,2,3,4,5]).count(' ') 
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해준다.

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ') 
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해준다. 
# 콤마를 띄어도 병합해서 '4' 그대로 출력

In [ ]:
'hello'.count('')

In [ ]:
'a'.count('') # 양쪽공백

In [ ]:
''.count('') # 이건 없는 것이기 때문에 1로 처리를 해준다

In [ ]:
''+''

In [ ]:
' hello  !  '.strip() #양쪽 공백을 없애줌

In [ ]:
' hello  !  '.rstrip() #오른쪽 공백을 없애줌

In [ ]:
' hello  !  '.lstrip() #왼쪽 공백을 없애줌

In [ ]:
# 별 5개
'hello world hi'.replace(' ','!') # 공백을 느낌표로 바꾼다
'hello world hi'.replace('world','W@O@R@L@D').upper() 
# 이렇게 점을 계속 찍어서 연결하는게 '메서드 체이닝'

In [ ]:
'hello world hi'.replace('world','W@O@R@L@D').upper().split('@')
# 반환값이 list이기 때문에 메서드 체이닝을 하려면 
# 이후로 list 메서드를 사용해야 한다.

In [ ]:
'hello world hi'.replace(' ','')

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
data.split('\n')[0].replace(' ','').replace('"','')
# Pythonic 하지 않다 ! 
data.split('\n')[0].replace(' ',
                '').replace('"',
                '')
# pythonic 하게 하려면 -> 역슬래시를 사용하는 것을 추천 
data.split('\n')[0]\
                .replace(' ','')\
                .replace('"','')\

# 강사님이 사용하는 기법
# processed_string = data.split('\n')[0].replace(' ','').replace('"','')
# processed_string.replace('"','').('"','')

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
data.split('\n')[0].replace(' ','').replace('"','').replace('+','1').replace('-','0')
ord('A'),chr(65) # ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경한다. 
숫자 = data.split('\n')[0].replace(' ','').replace('"','').replace('+','1').replace('-','0')

int(숫자, 2)
chr(int(숫자, 2))

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')
'paullab-CEO-kimyeoju'.split('-') # split에 '-'같은 값을 넣어야 쪼개짐 
'paullab-CEO-kimyeoju'.split('-') # 공백이면 그냥 print됨

In [ ]:
# 결과 ['010', '5044', '2903'] 이게 나와야함 
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace('-',' ').split(' ')

In [ ]:
# 결과 ['010', '5044', '2903'] 이게 나와야함 
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ','-').split('-')

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가도 된다.

In [ ]:
# '01050442903'.split('') # 빈 문자열을 넣지는 못함

In [ ]:
# 지금 진도에서 과하기 때문에 뒤에서 상세하게 다룬다. 
# 지금은 잊어도 된다. 
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

In [ ]:
int('010') # 앞에 0은 숫자로 인정해주지 않음

In [ ]:
num = '010 5044-2903'.replace('-','').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int,'010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

In [ ]:
list(map(int,'010 5044 2903'.split(' '))) # list map 아직 모름 #

In [ ]:
# 별 4.5 개
# join은 쪼개어진 데이터를 합쳐주는 method
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

'hello-world'.split('-')
'~'.join(['hello','world','hello'])
'!'.join(['hello','world','hello'])

In [ ]:
'hello'.isalpha() #isalpha() 알파벳인지 아닌지를 판단

In [ ]:
'he llo'.isalpha() # 띄어쓰기를 하면 false

In [ ]:
'123'.isdigit() #isdigit() 숫자인지 아닌지 판단

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum() #isalnum은 데이터가 숫자인지 아닌지 판단

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

In [ ]:
# 여기 있는 숫자를 다 더해주세요
# 퀴즈
# 숫자를 모두 더하라! 
for i in '123abc913sldlf':
    print(i.isdigit())
    if i.isdigit():
        result += int(i) #result = result + int(i) 
result

In [ ]:
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO leehojun'.isascii()

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬

In [ ]:
'hello'.zfill(20) #zfill()은 데이터의 빈 공간을 0으로 채워줌

In [ ]:
'paullab CEO kimyeoju'.zfill(30).replace('0','!')

In [ ]:
'hello'.zfill(20).replace('0','-')

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0','-')

In [ ]:
규칙테이블 = str.maketrans('le','12')
'paullab CEO leehojun'.translate(규칙테이블) #어떤 규칙을 정하는것

In [ ]:
규칙테이블 = str.maketrans('ki','gi')
'paullab CEO kimyeoju'.translate(규칙테이블)

In [ ]:
규칙테이블 = str.maketrans({'\n':' ',})

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n','').replace('\t','')

In [ ]:
규칙테이블 = str.maketrans({'\n':' ', '\t':' '})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code (https://peps.python.org/pep-0008/)
# pep20 : The Zen of Python(https://peps,pythone.org/pep-0020/) #이스터에그로 숨겨져 있음
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython이다. 
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

In [ ]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun.'
s[:] #string에서는 많이 사용하지 않지만 list에서 많이 사용한다. 
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 한다. 마지막 '.'을 뺌

In [ ]:
s = 'hello world kimyeoju!'
s[:]
s[:-1] # 뒤에 느낌표를 뺌

In [ ]:
test = [1, 2, 3, 4]
test2 = test
test2[0] = 1000
test, test2

In [ ]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 준다. 
test2[0] = 1000
test, test2

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

## 형변환

* type을 변경하는 것

In [ ]:
x = int(input())
1 + 2 # but 알파벳 입력하면 error

In [ ]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error!
x + x

In [ ]:
int('abc') # error
int(10.1) # 버림 --> 10
int('10') # 형변환 가능
int('10.1') # 형변환 불가능

## '10.1' 은 불가능 그냥 실수 10.1 은 소수점 버리고 10 가능

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 가능

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것
# Python에서는 허용하지 않는다.

In [ ]:
def hello():
    pass

str(type)
str(hello)
str('123')
str(True)
str(None)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

In [ ]:
# 별 5개
if True:
   print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드 
l = [1, 2, 3]
while l:
    print(l.pop())

bool('') # -> 얘는 false 빈 문자열을 제외하고 모두 true
bool('a')
bool('False') # 문자열 False이기 때문에 True
bool (0) # 0을 제외하고 모두 True
bool (-1) # --> True
bool(100) # --> True
bool(None) # None은 비어있음을 명시해주는 키워드 
bool([]) #컨벤션 자료형은 비어있으면 False입니다. 
bool({}) # false

In [ ]:
l = [1, 2, 3]
while l:
    print(l.pop()) ## 아직 이해못함 ##

In [ ]:
l = [1, 2, 3]
while l:
    print(l.pop())

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

In [ ]:
s = 'kimyeoju'
l = list(s)
l

In [ ]:
s = 'leehojun'
l = list(s)
l

In [ ]:
# tuple로 형변환
s = 'leehojun'
l = tuple(s)
l

In [ ]:
# # dict
# name = 'leehojun' # error
# dict(name)

s = [('name','leehojun'),('age','10')]
d = dict(s)
d

In [ ]:
s = [{'name','kimyeoju'},{'age','10'}]
d = dict(s)
d

In [ ]:
# set(집합)으로 형변환
name = 'leehojun'
set(name)

In [ ]:
name = 'kimyeoju'
set(name)

In [ ]:
name = 'kimyeoju'
len(set(name)) # 중복을 제거한 상태로의 길이를 알려줌

In [ ]:
name = 'kimyeoju'
len(name)

In [ ]:
len('hello world') # __len__
len([1, 2, 3, 4])

In [ ]:
#2번
user_input = input('문자를 입력해주세요!')
print(user_input*2)

In [ ]:
user_input = input()
print(user_input*2)

In [ ]:
#3번
num = 1234567890
list(str(num))[3]

## 산술연산

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫만 나온다 (정수만)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}')
print(f'10 % 3 == {a % b}') # 나머지 // 나머지가 0 이면 배수다 //

In [ ]:
# 연산자 우선순위는 and, or, 4칙연산, 제곱 정도만 아셔도 코딩하는데 큰 무리가 없다. 
# 모르면 읽는데 어려움이 생기기도 한다. 
print(3 ** 2 * 3)
print(3 * 3 ** 2) # 왜 81이 아니지? 하지마
# 곱하기 보다 제곱이 우선순위가 더 높다
print(3 + 3 * 2) # 3*2부터 계산함 

# 제곱근이 우선순위가 제일 높음 
# 곱셈이 그 다음으로 높음
# 덧셈

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

In [ ]:
numA = 25
numB = 40

print("numA // numB:", numA // numB)
print("numA / numB:", numA / numB)

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not 은 반대 
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것 
print(True and False) # false
print(True or False) # true
print(True or True) # true

if True and False:
    print('hello')

if 10>3 and 8 % 3 == 0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때
# or는 언제 True가 되나요?
# 둘 중에 하나라도 참이라면 True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
for i in range(101): # 이해못함 #
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i # result = result + i
    if i % 5 == 0:
        result += i
    if i % 15 == 0:
        result -= i
print(result)

In [ ]:
not True

In [ ]:
not False

In [ ]:
# python 입장에서 보는 코드
# False and ???? => 물음표에 무엇이 나오는 False
# 그래서 Python도 저 물음표를 보지 않는다.
def solution():
    1/0
if False and solution():
    print('hello')

In [ ]:
#True or ????? => 물음표에 무엇이 나오는 True
def solution():
    1/0
if True or solution():
    print('hello')

In [ ]:
# 단략 평가(컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우 false
username = username or 'licat' # username이 false여도 or니까 뒤에가 true일 수 있음 그래서 'Licat'을 봄
username

In [ ]:
username = 'leehojun' # 사용자가 아무것도 입력하지 않았을 경우 false
username = username or 'licat'
username

In [ ]:
# and와 or의 우선순위(and가 더 높습니다.)
for i in range(101):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(101):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

In [ ]:
# 아래는 출력되는 값이 다르다. 우선순위가 낮은 or가 먼저 나왔기 때문

for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

## 비트연산 (중요도 하)

In [ ]:
# and(곱하기)
1001 == 9
0010 == 2
----
0000

In [ ]:
9 & 2

In [ ]:
#and(곱하기)
1001 
1000
---- # 곱하는것임
1000

In [ ]:
9 & 8 #1000이 십진수로 나와서 답이 8

In [ ]:
# or(더하기, 대신 자리올림이 되진 않는다.)
# 1001 == 9
# 0011 == 3
# ----
# 1010

9|3

In [ ]:
9|3

In [ ]:
# xor(같을 경우 0, 다를경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010
9^3

In [ ]:
~9 # 2의 보수를 취하는 것이다. (9에게 +1 한 다음에 -를 취하시면 된다. )
~-7 # -7에 +1은 -6 거기다가 -를 붙이면 양수 6이 나옴

In [ ]:
3 << 2 # 3을 2진수로 표현하면 11인데 2칸을 왼쪽으로 미는 것 
# 1100

In [ ]:
7 >> 2 # 미는 것을 shift라고 표현

In [ ]:
a = 40
~a

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a =  + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남는다
a

In [ ]:
a = 10
a += 10 # a = a + 10
a

In [ ]:
a = 10
# a = a // 10
a //= 10 # 산술연산 모두 된다.
a

In [ ]:
# Python에서 특이하게 ++a, ++b, a++, b++가 없습니다. # 증감연산자

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에 컨벤션 자료형이 어떻게 구성이 되는지 확인해볼 것
# id()
# is

In [ ]:
a = 256
b = 256 
a is b

In [ ]:
a = 999
b = 999
a is b

In [ ]:
a = [1,2,3]
b = [1,2,3]
a is b

In [ ]:
a[0] = 100
a, b

In [ ]:
a = [1,2,3]
b = [1,2,3]
a == b #Python에 등호는 type과 value를 본다.

In [ ]:
a = [1,2,3]
b = [1,2,3]

id(a)

In [ ]:
id(b) # 다르다 다른곳에 저장하기 때문에 a == b가 다른것이다. 
# 선언을 하면 다른 곳으로 저장된다.

In [ ]:
a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 이야기.

## not의 위치

In [ ]:
a = 10
b = 100
a is not b # is not / not in 둘의 not 위치가 다름 알아두세요
# a not is b #error

In [ ]:
a = 10
b = [10,20,30]
a not in b

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b)  # 이게 false면 is도 false이다.

## 멤버연산

In [ ]:
'a' in 'helalo world'
'a' in 'hello world'
'a' in ['a','b']
'a' in {'a':10, 'b':20}
# 10 in {'a':10, 'b':20} # dic안에 있는 value값이 궁금하면 밑에 코드를 짜야함
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

In [ ]:
10 in {'a':10, 'b':40}.values()

In [ ]:
10 in {'a': 10, 'b': 20}.values()

In [ ]:
'a' not in ['aa','bb']

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30] # false
[10] in [[10], 20, 30]
[10, 20] in [[10, 20], 30]
set([10,20]).issubset(set([10,20,30]))

In [ ]:
[10] in [10,20,30] # 이걸 true로 만드려면?
[10] in [[10],20,30] # 이렇게 10을 감싸줘야함

## 연습문제

In [ ]:
# 1번
a = 100
print(a > 100) and (a < 200) #false
print(a > 100) or (a < 200) #true
print(a >= 100) and (a <= 200) #true
print(a >= 100) or (a <= 200) #true

In [ ]:
# 2번
b = 25
(b % 2 == 0) and (b % 5 == 0)

In [ ]:
# 3번
c = 1000
c // 100

In [ ]:
# 4번 
# 그리디 알고리즘(욕심쟁이 알고리즘)
남은금액 = int(input())
오천원 = 남은금액 // 5000
남은금액 = 남은금액 % 5000
# 남은금액 = 남은금액 - (5000 * 오천원)

천원 = 남은금액 // 1000
남은금액 = 남은금액 % 1000

오백원 = 남은금액 // 500
남은금액 = 남은금액 % 500

백원 = 남은금액 // 100
남은금액 = 남은금액 % 100

print(오천원, 천원, 오백원, 백원)

## 함수
1. 코드 덩어리(정말 쉽게 설명하자면 ..)

2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있다.

3. 코드의 구조를 한 눈에 파악할 수 있다.

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 1
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 2
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 3
def function(x, y):
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')
print(hello())

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return 

print(two())

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100 
    
def two():
    print('two1')
    print('two2')
    x = one() # 위에 one return이 x로 들어옴 
    return x + x 

print(two())

# two1
# two2
# one1
# one2
# one3
# 200

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b
    
def two(x):
    y = 100 # x는 two(10) 아규먼트에서 가져온다
    print('two1')
    print('two2')
    x = one(x, y)  # 110 
    return x + x 

print(two(10))

# two1
# two2
# one1
# one2
# one3
# 220

In [ ]:
# 함수 연습문제 4

def one(): # 1
    print('one') # 5
    return 10

def two(): # 2
    print('two')
    return 10

def three(): # 3 
    print('three')
    return 10

a = one() # 4 # 호출한 다음에 print로 올라가는 것 
b = two()
c = three()
print(a + b) # print(one()+two())
print(a + b + c) # print(one()+two()+three()) # 좋지않은예

In [ ]:
# 함수 연습문제 4
# 좋지 않은 예 입니다!
def one():
    print('one')
    print('one')
    print('one')
    return 10

def two():
    print('two')
    print('two')
    print('two')
    return 10

def three():
    print('three')
    print('three')
    print('three')
    return 10

print(one() + two())
print(one() + two() + three())

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다. 
kimyeoju = print
kimyeoju('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 된다.

In [ ]:
id(kimyeoju), id(print)

In [ ]:
l = [kimyeoju, print, kimyeoju, print]
kimyeoju('hello world')
l[0]('hello world')

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')
print(hello(print))

In [ ]:
def hello():
    def custom_sum(a,b):
        return a + b
    return custom_sum

c = hello()
c(10,100)

In [ ]:
def hello(a):
    return a
c = hello(print)
c(10,100)

## 함수의 기본 기능

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
 # return을 만나게 되면 함수는 종료가 된다. 
 # return을 빨리 만나게 해주세요. 
def function(x, y):
    z = x + y
    return z # return을 만나면 바로 함수는 종료 
    print('hello')
    print('hello')
 
function(5, 7)

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if type(x) != int or type(y) != int:
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, '가나다'))

In [ ]:
# 한글 코딩에 장점
# 1. 고유명사(한라산, 새싹멤버) -> 기획자와 소통하기도 좋다. 
# 2. 알고리즘 가독성이 괜찮다. 
# 한글 코딩에 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello')
    def three():
        print('hello')
    two()
    three()
    return 100

print(one())

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다. 
# 아래 것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능하다.
# 수정은 안된다. 
test = 10
def one():
    print(test)

def two():
    print(test)

one()
two()

In [ ]:
# 이렇게 하시면 error가 납니다! 밖에 있는 변수는 수정이 안됩니다.

test = 10
def one():
    test = test + 10 # 밖에 있는 변수는 수정이 불가능 
one()

## 지역 변수와 전역 변수

In [ ]:
# 접근은 가능하지만 수정이 되진 않는다. 
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드이다. 
# 권하지 않는다. 
a = 100
def f():
    global a # 실무에서 사용 안합니다. 
    a = a + 1
f()
print(a)

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요. 
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

In [ ]:
# 순수 함수
def f(x):
  return x + x + 100
f(20) 
# 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배해서 100이 더해진 다는 사실은 변하지 않는다.

In [ ]:
test = 100
def f(x):
    return x + x + 100 + test
f(10)
# 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배해서 100이 더해진 다는 사실은 변하지 않는다. 
# 그렇지 않습니다. test값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있다. 
# 예측이 불가하게 되는 것

In [ ]:
# 지역변수와 전역변수 이어서 
# 전역변수 : 전역에서 접근할 수 있는 변수 
# 지역변수 : 함수 내에서 접근할 수 있는 변수

In [ ]:
a = 100
def one():
    a = 10
    print(a)

one()
print(a)

In [ ]:
# 어려우신 분들은 pass 
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라간다. 전역에도 없으면 error
a = 100
def one():
    a = 10 # 자신의 공간에서 가장 가까운 '10'을 출력
    def two():
        def three():
            a = 1000 # 제일 먼저 출력
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

In [ ]:
# inner가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x에 수정권한이 전혀 없습니다.
x = 100
def outer():
    x = 1 # 그래서 x = 1
    def inner():
        nonlocal x # 현재 함수 바깥에 있는 지역변수 사용 x = 1
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

## 재귀함수

* 내가 나를 호출하는 것입니다. 
* 재귀 <-> for문은 대부분 호환이 가능합니다. 
* 반복문 사용하시기를 권합니다 ! 
* 어렵고 효율도 안좋아요 ! ( 얼마나 효율이 안좋은지도 확인해보겠습니다 ) 
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
# for로 팩토리얼 
# 5! = 5 * 4 * 3 * 2 * 1
result = 1

# 1 * 2 * 3 * 4 * 5 
for i in range(1,6):
    result *= i
    
result

In [ ]:
# 재귀로 팩토리얼
def f(n):
    if n <= 1:
        return 1
    else 
        return n * f(n-1)

f(5)

# f(5) 5 * f(4) == 5 * 24 => 120
# f(4) 4 * f(3) == 4 * 6
# f(3) 3 * f(2) == 3 * 2
# f(2) 2 * f(1) == 2 * 1
# f(1) 1

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result
'''
result = 'h' + ''
result = 'e' + 'h'
result = 'l' + 'eh'
result = 'l' + 'leh'
result = 'o' + 'lleh'
'''
# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')

reverse('hello') reverse('ello') + 'h' == 'olle' + 'h'
reverse('ello') reverse('llo') + 'e' == 'oll' + 'e'
reverse('llo') reverse('lo') + 'l' == 'ol' + l
reverse('lo') reverse('o') + 'l' == 'o' + l
reverse('o') 'o'

In [ ]:
# 피보나치
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21 

curr = 1
next = 1
for i in range(1,6):
    curr, next = next, curr + next

next

In [ ]:
# 피보나치 재귀
def f(n):
    if n == 1 or n == 2:
         return 1
    return f(n-1) + f(n-2)


1, 1, f(3), f(4), f(5), f(6)

In [ ]:
# 재귀에 비효율을 이렇게 해결할 수 있는 있다를 보여드리기 위함
# but 가능하면 for문을 사용하는 것을 권함 
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

## !! 연습문제

In [ ]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

In [ ]:
## 연습문제 1번
a = 'pithon'
def 함수1():
    def 함수2():
        print('love')
    print('I')
    함수2()
    return "python"
a = 함수1() # a = python 
print(a)

In [ ]:
## 연습문제 2번
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2


def multiply(num1, num2):
	return num1 * num2


def divide(num1, num2):
	return num1 / num2


print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
## 연습문제 2번
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2


def multiply(num1, num2):
	return num1 * num2


def divide(num1, num2):
	return num1 / num2


print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
plus = lambda num1, num2 : num1 + num2
minus = lambda num1, num2 : num1 - num2
multiply = lambda num1, num2 : num1 / num2
divide = lambda num1, num2 : num1 * num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    try:
        return num1 + num2
    except:
        return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

In [ ]:
x = 3
def 제곱(n):
    if n == 0:
        return 1
    return x * 제곱(n-1)
제곱(3)
제곱(4)

In [ ]:
# 재귀함수를 사용해서 푼 것은 아니고
# 팩토리 함수라고도 하고, 클로져라고도 한다. 
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수
제곱3 = 제곱(3)
제곱3(4)

## 리스트(list)

* 순서를 가진 데이터들의 집합(Sequence)
* 리스트는 값의 변경 
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능 
* 리스트 안에 다른 object(딕셔너리, 셋, 튜플 등)를 넣는 것도 가능

In [ ]:
l = [1000, 2000, 3000, 1000, 2000, 3000]
id(l[0]), id(l[3])

In [ ]:
# 컨벤션 자료형(딕셔너리, 튜플, 셋, 리스트)에서는 
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있다.

In [ ]:
l = [10, 20, 30, 40] 
l[0] = 1000
l

In [ ]:
s = 'hello world'
s[0] = 'k' #error
s

In [ ]:
data = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9]]
data

In [ ]:
data[0][0]
[1, 2, 3][0]

In [ ]:
data = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9]]
data[0][0]

In [ ]:
data = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9]]

data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data[1][0] *= 2
data[1][1] *= 2
data[1][2] *= 2
data[2][0] *= 2
data[2][1] *= 2
data[2][2] *= 2



data

In [ ]:
data = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9]]

data[0][2] *= 2
data

In [ ]:
data = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9]]

data[0][1] *= 2
data

In [ ]:
data = [[1, 2, 3], ## 이거 이해 요망 
       [4, 5, 6],
       [7, 8, 9]]
for i in range(3):
    for j in range(3):
        data[i][j] *= 2
 print('i는 ',i, 'j는 ',j)

In [ ]:
data = [[1, 2, 3], 
       [4, 5, 6],
       [7, 8, 9]]
for i in range(3):
    for j in range(3):
        data[i][j] =* 2
data

In [ ]:
'''
3                       == 스칼라
[3, 4]                  == 벡터
[[1, 2, 3],             == 메트릭스(행렬)
 [4, 5, 6],
 [7, 8, 9]]
[[[1], [2], [3]],       == 텐서(다차원, 3차원 이상)
 [[4], [5], [6]],
 [[7], [8], [9]]]

텐서플로우 : 인공지능 중 유명한 라이브러리
'''

In [ ]:
# 리스트에서 주의해야 하는 연산! 
x = [10] * 3
x

In [ ]:
x[0] = 100
x

In [ ]:
x = [[10] * 2 ] * 3
x

In [ ]:
x[0][0] = 100 ## 이해 못함 
x

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

In [ ]:
x = [[[10] * 3] * 3] * 4
x

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

In [ ]:
# x = [10] * 3 # [10,10,10]
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

In [ ]:
[1, 2, 3] + [1, 2, 3] # 많이 사용합니다

In [ ]:
id(x[0][0]), id(x[0][1])

In [ ]:
help(l)

In [ ]:
l = [10, 20, 30]
type(l), dir(l), help(l)

## 리스트의 메서드

In [ ]:
  'append','clear','copy','count','extend','index',
  'insert','pop','remove','reverse','sort'

In [ ]:
l = [1,2,3]
l.append(4) # append는 요소를 추가 
l

In [ ]:
l = [1,2,3]
l.append([1,2,3]) 
l

In [ ]:
l = [1, 2, 3]
l.extend(4) #error
l

In [ ]:
l = [1,2,3]
l.extend([1,2,3]) # append는 요소 1개 추가할 때 extend는 덩어리 추가할때
l

In [ ]:
l = [1,2,3]
l.extend('hello')
l

In [ ]:
l = [1,2,3]
l.extend({'one':10, 'two':20})
l

In [ ]:
l = [1,2,3]
l.extend({10, 20, 30})
l

In [ ]:
l = [10, 20, 30]
l.clear()
l

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게
서울과일가게[0] = ['바나나',2000]
서울과일가게, 제주과일가게

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아본다. 
제주과일가게 = [['바나나', 1000], ['수박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게.copy() # 얕은복사 #카피를 하는 순간 서울과일가게 -> 메모리가 생긴다
# 실무에서는 서울과일가게 = 제주과일가게[:] <- 이렇게 표시를 한다 
서울과일가게[0] = ['바나나',2000]
서울과일가게, 제주과일가게

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

In [ ]:
제주과일가게 = [['바나나',1000],['수박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게[:]
서울과일가게[0] = ['바나나',2000]
서울과일가게, 제주과일가게
id(서울과일가게[0]),id(제주과일가게[0])

In [ ]:
s = 'hello world'
s[:5]
s

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]
ll = l [:]
ll

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]

In [ ]:
id(l), id(ll)

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
# 서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게 = 제주과일가게.copy() # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
id(서울과일가게[0][0]), id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게
id(서울과일가게[0]), id(제주과일가게[0])

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게[:] # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
id(서울과일가게[0][0]), id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게
id(서울과일가게[0]), id(제주과일가게[0])

In [ ]:
제주과일가게 = [['바나나',1000],['수박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게[:]
id(서울과일가게[0]),id(제주과일가게[0])
id(서울과일가게[0][0]),id(제주과일가게[0][0])

In [ ]:
l = [1,2,3]
ll = l[:]
l[0] = 1000
l, ll

In [ ]:
l = [1,2,3]
ll = l[:]
l[0] = 1000
l, ll

# [1000,2,3],[1,2,3]

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l[0] = 1000
l, ll

In [ ]:
l = [1, 2, 3, 1, 1, 1, 2, 3, 2, 3, 1, 1]
l.count(1)

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11) # 여기에 find는 없다
a[:a.index(11)] # 11까지 슬라이싱해라 하니까 10, 1, 1

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11)
a[:a.index(11)]

In [ ]:
a = [10, 20, 30]
a.insert(2, 1000) #insert는 값을 지우지는 않습니다. 
a

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop()

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop(0) # 많이 사용합니다.
l

In [ ]:
# append : 맨 뒤에 추가 
# pop : 맨 뒤에서 값을 뽑아내고, index가 들어 갈 경우 index에서 뽑는다
# insert : index에 값을 삽입하고 원래 있던 값을 뒤로 밀어버린다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for를 돌면서 remove를 하지 않기 바랍니다.
l

In [ ]:
l = [20, 20, 20, 20] # len 문자열반환
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

In [ ]:
l = [20, 20, 20, 20] 
for i in range(len(l)):
    print(len(l))
    l.remove(20)

In [ ]:
l = [20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20] # 20을 없애려면!? 
for i in range(l.count(20)):
    l.remove(20)
l

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20] 
l.remove(20) # 앞에 있는 것만 없애주니까 
l

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20] 
for i in range(l.count(20)): # range쓰면 20을 다 보여주는것
    l.remove(20)
    l

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20] 
for i range(l.count(20)):
    l.remove(20)
    l

In [ ]:
# 실무에서 
# 어떤 값을 전부 없애거나
# 어떤 값을 전부 찾는 것
# 이거 많이 사용함 
def f(x):
    return x != 20 # 20이 아닌 것이 true

# true인 것만 반환해준다. 
list(filter(f,[10, 20, 30, 40, 50, 20, 20, 20])) # List로 형변환 해줘야함

In [ ]:
def f(x):
    return x != 20
    list(filter(f,[10,20,30,40,50,20,20,20]))

In [ ]:
filter(f, [10, 20, 30, 40, 50, 20, 20, 20])

In [ ]:
range(100) # 0~99까지 나타낸다

In [ ]:
for i in filter(f,[10,20,30,40,50,20,20,20]): 
    print(i)

In [ ]:
for i in filter(f,[10,20,30,40,50,20,20,20]):
    print(i)

In [ ]:
for i in filter(f,[10,20,30,40,50,20,30]):
    print(i)

In [ ]:
list(filter(lambda x: x!=20, [10, 20, 30, 40, 50, 20, 20, 20]))

list(filter(lambda x: x!=20, [10,20,30,40,50,20,20,20]))

In [ ]:
list(filter(lambda x : x!=20, [10,20,30,40,20,20,20]))

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며 원본을 만집니다.
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse()
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며 원본을 만지지 않습니다.
print(l)

In [ ]:
a = [1, 1, 1, 2, 3, 2, 1, 2]
for i in range(a.count(1)):
 a.remove(1)
 a

In [ ]:
a = [1, 1, 1, 2, 3, 2, 1, 2]
for i in range(a.count(1)):
    a.remove(1)
    a

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며 원본을 만지지 않습니다.

In [ ]:
# l.reverse() : 리스트에 메서드이며, return None입니다 ! 역순, 원본을 만집니다. 
# reversed() : 빌트인펑션이며, return 역순입니다! 원본을 만지지 않습니다.

In [ ]:
l= [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for을 돌면서 remove를 하지 않기 바람 
l

In [ ]:
l = [20,20,20,20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있다
    l.remove(20)

In [ ]:
list(filter(lambda x: x!=20, [10, 20, 30, 40, 50, 20, 20, 20]))
# 필터링을 할거래 ~ x가 20이 아닌 것만 추출할거래~

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() #역 정렬이 아니고 역순이며 원본을 만진다.
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) #역 정렬이 아니고 역순이며 원본을 만진다.
print(l)

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l)))

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(l.reverse()) #리스트에 메서드 return none 역순 원본을 만짐
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(l.reverse())
l

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l)))
print(l)

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l)))

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l)))
print(l)

In [ ]:
print(type(range))

In [ ]:
a = [1, 4, 5, 100, 6]
a.insert(2, 1000)
a

## sort

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3] 
l.sort() # 변수명에 가로가 있으면 무조건 함수 () # 원본을 만지고, 반환값은 None
l

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
print(sorted([1, 5, 4, 2, 8, 5, 10, 9, 2, 3]))
# 원본을 만지지 않고, 반환값은 정렬된 값
print(l)

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
print(sorted([1, 5, 4, 2, 8, 5, 10, 9, 2, 3])) # 원본을 만지지 않음

In [ ]:
# 이렇게 실무에서 진행하진 않는다. 
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3] 
l.sort() 
l.reverse()
l

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3] 
l.sort()
l.reverse()
l

In [ ]:
# 이렇게 많이 사용합니다. 
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3] 
l.sort(reverse=True) # 내림차순
l

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
sorted(l, reverse=True) # 내림차순

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=f, reverse=True))
def f2(x):
    return x[0]
print(sorted(l))
print(sorted(l, key=f2))

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print(sorted(l))
print(sorted(l, key=f2))
print(sorted(l, key=lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.

def f3(x):
    return x[1]

print(sorted(l))
print(sorted(l, key=f3))
print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2]

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x: sum(x)))
print(sorted(l, key=sum))

In [ ]:
# https://codingdojang.com/scode/408?answer_mode=hide
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한 문제인지 확인

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]

[1, 3, 4, 8, 13, 17, 20] # 마지막 20은 빼 
[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip('hello', 'world'))

In [ ]:
list(zip(point, point[1:]))

In [ ]:
# 다음 문제를 풀어보세요.
def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=f)

In [ ]:
def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=f)[0]

In [ ]:
sorted(zip(point, point[1:]), key=lambda x:x[1]-x[0])[0]

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 응급도
# [3, 76, 24]
# 우선순위
# [3, 1, 2]

l = [3, 76, 24]
정렬된값 = sorted(l, reverse=True)
정렬된값 # [76, 24, 3]
# 우리가 원하는 값 [2, 0, 1]

결과값 = [
            정렬된값.index(l[0]), 
            정렬된값.index(l[1]), 
            정렬된값.index(l[2])
        ]
결과값

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태 
l = [[1,2,3],[4,5,6]]
ll = l
ll[0][0] = 10
l, ll

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0] = 10
l, ll

In [ ]:
l = [1000, 2000, 3000, 1000, 1000, 1000]
id(l[0]), id(l[3]), id(l[4]), id(l[5])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l), id(ll)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0][0] = 10
l, ll

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0] = 10
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

In [ ]:
id(l[0]), id(ll[0])

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0] = 100
l, ll

In [ ]:
# 깊은 복사
import copy

l = [[1,2,3], [4,5,6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l, ll

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, [1, [999, 998]]], [4, 5, [2, [333, 332]]]]
ll = copy.deepcopy(l)
ll[0][2][1][0] = 10
l, ll
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

* 얕은 복사는 1 계층만 복사합니다.
* 깊은 복사는 n 계층까지 모두 복사합니다.

In [ ]:
# 얕은 복사
l = [[1,2,3], [4,5,6]]
ll = l[:]
l[0] = 100
l , ll

In [ ]:
# 얕은 복사
l = [[1,2,3], [4,5,6]]
ll = l[:] # l.copy를 써도 마찬가지 
l[0][0] = 100
l , ll

In [ ]:
# sorted도 얕은 복사!
l = [[1, 2], [3, 4], [5, 6]]
ll = sorted(l)
l[0][0] = 100
l, ll

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
l[0][0] = 100
l, ll

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
l[0][0] = 100
l, ll

## 다차원 리스트

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

# 문제 : jun만 뽑아주세요!
print(a[2][0][-3:])
print(a[2][0][5:])
print(a[2][0][5], a[2][0][6], a[2][0][7], sep='')

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

print(a[2][0][5:])

## 리스트에서 built-in function을 활용

* 알아야 하는 built-in function

A
abs()
all()
any()

B
bin()
bool()

C
chr()

D
dict()
dir()

E
enumerate()
eval()

F
filter()
float()

G
globals()

H
help()
hex()

I
id()
input()
int()
isinstance()
issubclass()
iter()

L
len()
list()
locals()

M
map()
max()
min()

N
next()

O
object()
oct()
open()
ord()

P
pow()
print()
property()




R
range()
repr()
reversed()
round()

S
set()
setattr()
slice()
sorted()
staticmethod()
str()
sum()
super()

T
tuple()
type()

V
vars()

Z
zip()

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) #최댓값
print(min(a)) #최솟값
print(sum(a)) #전체값의 합

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a))
print(min(a))
print(sum(a))

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:x[1])
max(a, key=lambda x:len(x[3]))

max(a, key=lambda x:x[1])

[10, 2000, 30, 'aa']

In [ ]:
# 이름, 별점, 객실수, 가격
호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 3, 70, 135000], 
    # 마지막에 콤마를 허락하는 언어는 제한적(특히 JSON에서는 엄격해서 허락하지 않습니다.)
]

max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3])

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]
     
max(a, key=lambda x:x[1])
min(a, key=lambda x:x[1])
# sum(a) error # sum은 안됨 
sum(a, [])

## 리스트의 순회
* 리스트의 순회부터 복습

In [ ]:
#1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]
# for 변수 in 순회 가능한 객체 
for i in a: 
     print(i)

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')
print('end')

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')
print('end')

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    for j in i:
        print(j)
        print('---')
print('end')

## range

In [ ]:
# range(start, stop, step) 
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100))) 
# python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
print(list(range(5, 10)))

print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수
print(list(range(100, 1, -2)))
print(sum(list(range(0, 101))))
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.

## list comprehension

In [ ]:
# l = [1, 2, 3, 4, ...]
# list(range(1, 101))
l = []
for i in range(1, 101):
    l.append(i)
l # 실행 노

In [ ]:
# l = []
# for i in range(1, 11):
#     l.append(i**i)
# l

l = [i**i for i in range(1, 11)]
l

l = [i for i in range(1, 11)]
l

In [ ]:
l = []
for i in range(1, 100):
    if i %3 == 0 or i %5 == 0:
        l.append(i)

[i for i in range(1, 100) if i %3 == 0 or i %5 == 0]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10, 20, 30)
t[1] = 1000 # error

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # t가 l을 참조하고 있다는 것이 불변 
l[0] = 1000
t

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3]

In [ ]:
type(t), dir(t)

In [ ]:
t = (10, 20, 30, 40, 50, 20)
t.index(20), t.count(20)

In [ ]:
t = tuple('leehojun')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) 
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

## dict (딕셔너리)

- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
{
    '게시물 번호' : 1,
    '게시자': '이호준',
    '게시물 내용' : '......'
}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d['one']

In [ ]:
d ['two'] = '투'
d

In [ ]:
d = {} #dict
type(d)

d = {10} #test
type(d)

d = dict()
type(d)

d = {'one' : 1}
type(d)

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

In [ ]:
dict(name='kimyeoju',age = 10)

In [ ]:
list(zip('ABC', '123','abc'))
dict(zip('ABC', '123')) #형변환

In [ ]:
# 연습문제
# dict와 zip를 사용해서 아래와 같은 형태로 데이터를 만들어주세요.
# 잘 모르시겠으면 어떻게든 저 형태를 만들어주세요.
dict(zip('ABC', [[10,20], [20,30], [30,40]]))
dict(zip('ABC', [list(elem) for elem in zip([10, 20, 30], [20, 30, 40])]))
l = [10, 20, 30, 40]
dict(zip('ABC', zip(l, l[1:])))
dict(zip(['A','B','C'],[[10, 20],[20, 30],[30, 40]]))
# 원하는 형태 {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
dict(zip(['A','B','C'],[[10,20],[20,30],[30,40]]))

In [ ]:
# dict와 zip을 사용해서 아래와 같은 형태로 데이터를 만들어 주세요
dict(zip('ABC',[[10,20],[20,30],[30,40]]))

In [ ]:
'B' in {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
len({'A': [10, 20], 'B': [20, 30], 'C': [30, 40]})

In [ ]:
# 공부해두시면 좋습니다
def switch(day):
    return{
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }[day]
switch(7)
# switch(8) #error

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day)

switch(7)
switch(8) # get을 사용하면 None을 줍니다.

In [ ]:
# 공부해두시면 좋습니다
def switch(day):
    return{
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(day, '요일을 찾지 못했습니다.')
switch(7)
switch(8)
#get을 사용하면 못찾는 값을 넣었을 때 '요일을 찾지 못했습니다.' 값을 준다.

In [ ]:
%%timeit

s = 0
for i in range(10000):
    s += i

In [ ]:
%%timeit

sum([i for i in range(10000)])

In [ ]:
%%timeit

sum(range(10000))

In [ ]:
{'A':[10,20], 'B': [20,30], 'C':[30,40]}.keys()

In [ ]:
{'A':[10,20], 'B': [20,30], 'C':[30,40]}.values()

In [ ]:
{'A':[10,20], 'B': [20,30], 'C':[30,40]}.items()

In [ ]:
dict.fromkeys('kimyeoju')

In [ ]:
dict.fromkeys('leehojun', 100)

In [ ]:
keys = ('name', 'age', 'grade')
values = ('leehojun', '10', '수')

dict.fromkeys(keys, values)

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one' : 1, 'two' : 2})
d

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다. 
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

In [ ]:
# value만 순회합니다. 
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

## 언패킹

In [ ]:
# 패킹 : 1,2,3 => [1,2,3]
# 언패킹 : [1,2,3] => 1,2,3

In [ ]:
a,b,c = 10,20,30
a

In [ ]:
a,b,c = [10,20,30] # 소괄호든 대괄호든 상관 없습니다. 
a

In [ ]:
i, j = [10, 20]
i

In [ ]:
for i, j in [[10,20],[30,40],[50,60]]:
    print(i,j)

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, []]]:
    print(i, j, k)

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

In [ ]:
# swap in c
a = 10
b = 15
temp = a
a = b
b = temp
a, b

In [ ]:
for i, j in d.items():
    print(i,j)

## max를 이용한 dict 최대 value key값 가져오기

In [ ]:
d = {
    'test1': 10,
    'test2': 20,
    'test3': 31,
    'test4': 11,
}

# max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
max(d, key=lambda x: d[x])
max(d, key=d.get) #많이 사용하는 코드입니다.

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않으며
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

In [ ]:
s = set('hello world')
print(s)

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

In [ ]:
n = set([1,1,2,2,3,3,4])
n.update({10,20})
print(n)

In [ ]:
n = set([1,1,2,2,3,3,4])
n.remove(1)
print(n)

* pop은 실무에서 잘 사용하지 않습니다. 값을 랜덤하게 뽑아내기 때문입니다. 높은 확률로 앞에서부터 뽑아내긴 하지만 확률에 기대는 코딩을 하지 않기를 바랍니다. 공식문서에서는 랜덤하게 뽑아낸다고 되어 있습니다.
* https://docs.python.org/3.11/library/stdtypes.html#frozenset.pop

In [ ]:
# 교집합 별 3개
a = {1,2,3}
b = {3,4,5}
a & b
a.intersection(b)

In [ ]:
# 합집합 별 3개
a = {1,2,3}
b = {3,4,5}
a | b
a.union(b)
# a + b # error set은 더하기가 안된다

In [ ]:
# 차집합 별 3개
a = {1,2,3}
b = {3,4,5}
a - b
a.difference(b)
# a + b # error set은 더하기가 안된다

In [ ]:
s = {1,2,3,4}
ss = {3,4,5,6}
s.issubset({1,2})
s.issubset({1,2,3,4,5,6,7,8})
# 다 포함해야 부분집합 True / 아니면 False

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888
# my_string        result
# "people"        "peol"

In [ ]:
# my_string        result
# "people"        "peol"

result = ''
for i in 'people':
    if i not in result:
        result += i
result

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

In [ ]:
def solution(my_string):
    return set(my_string)
solution('people')

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))
solution('people')

In [ ]:
def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result += i
            집합.remove(i)
    return result

solution('people')

## 연습문제

In [ ]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}

In [ ]:
sum(student_score.values())

In [ ]:
sum(student_score.values())/len(student_score)

In [ ]:
이름 = max(student_score, key=student_score.get)
가장큰값 = student_score[이름]
print(이름, 가장큰값)

In [ ]:
가장큰값 = max(student_score.values())
for i in student_score:
    if student_score[i] == 가장큰값:
        print(i, 가장큰값)

In [ ]:
이름 = min(student_score, key=student_score.get)
가장작은값 = student_score[이름]
print(이름, 가장작은값)

In [ ]:
# 연습문제 1번 
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}
total_score = sum(student_score.values())
print(f'학생들의 총점은 {total_score}입니다.')
average_score = sum(student_score.values()) / len(student_score)
print(f'학생들의 총점은 {average_score}입니다.')
max_name = max(student_score, key=student_score.get)
max_score = student_score[max_name]
print(f'점수가 가장 높은 학생은 {max_name}이며, 그 점수는 {max_score}점입니다.')
min_name = min(student_score, key=student_score.get)
min_score = student_score[min_name]
print(f'점수가 가장 낮은 학생은 {min_name}이며, 그 점수는 {min_score}점입니다.')

In [ ]:
# 연습문제 1번 
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}
sum(student_score.values())
sum(student_score.values()) / len(student_score)
max(student_score, key=student_score.get)
student_score[max(student_score,key=student_score.get)]
max(student_score.values())
for i in student_score:
    if student_score[i] == 가장 큰 값:
        print(i, 가장큰값)

In [ ]:
# 연습문제 2번 
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']
set(like) - set(dislike)

In [ ]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']
set(like) - set(dislike)
# 아래와 같이 코드를 작성할 수도 있습니다.
final_menu = [menu for menu in like if menu not in dislike]

## (질의응답) max(student_score,key=student_score.get)

In [ ]:
def 함수 (x):
    print(x, ll[x])
    return ll[x]
l = [2,4,5,3,6,0,7,1]
ll = [10,20,30,40,50,60,70,80]
max(l, key=함수)

2 30
4 50
5 60
3 40
6 70
0 10
7 80
1 20

7

In [ ]:
def 함수(x):
    print(x, len(ll[x]))
    return len(ll[x])

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']
# 글자수 반환 [2]가 들어가면 'bb' 글자수 반환
max(l, key=함수)

2 2
4 1
5 4
3 3
6 11
0 5
7 2
1 1

6

In [ ]:
def 함수(x): #('test1')
    return d.get(x) # max(d)에 있는 키 값이 순회
#('test1')
d = {
      'test1': 10,
      'test2': 20,
      'test3': 31,
      'test4': 11,
}

max(d, key=d.get)
# max(d, key=lambda x: d[x])

max(d, key=lambda x: d[x])

'test3'

In [ ]:
def 함수(x):
    return d.get(x)
d= {
    'test1': 10,
    'test2': 20,
    'test3': 31,
    'test4': 11,
}

max(d, key=lambda x: d[x])

'test3'

In [ ]:
# get 개념 잡고가기 get은 키를 호출 
cabinet = {3:"유재석", 100:"김태호"}
print(cabinet[3])
print(cabinet.get(3))

유재석
유재석

In [ ]:
cabinet = {"유재석":3, "김태호":100}
print(cabinet.get("김태호"))

100

In [ ]:
# 리턴에 초점을 맞춰주세요 
def 함수(x):
    return len(x)
l = ['a','bb','ccc','dd']
max(l, key=함수)
max(l, key=lambda x: len(x))

'ccc'

In [ ]:
def 함수(x):
    return len(x)
l = ['a','bb','ccc','dd']
max(l, key=lambda x: len(x))

'ccc'

In [ ]:
# return에 초점을 맞추세요
def 함수(x): 
    return d.get(x)
수학 = {
      '학생1': 10,
      '학생2': 20,
      '학생3': 31,
      '학생4': 11,
}

과학 = {
      '학생1': 11,
      '학생2': 17,
      '학생3': 13,
      '학생4': 11,
      '학생5': 25,
      '학생6': 100,

}
수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)

'학생2'

In [ ]:
def 함수(x): 
    return d.get(x)
수학 = {
      '학생1': 10,
      '학생2': 20,
      '학생3': 31,
      '학생4': 11,
}

과학 = {
      '학생1': 11,
      '학생2': 17,
      '학생3': 13,
      '학생4': 11,
      '학생5': 25,
      '학생6': 100,

}

max(수학, key=수학.get)
max(과학, key=과학.get)
max(수학, key=과학.get)

'학생2'

##(질의응답) 함수의 아규먼트 순서

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) # 실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요 ?
# 파라미터, 아규먼츠가 매우 많을 때 
# 이런 함수가 나오면 이 함수가 무엇을 뜻하는 것일까요?
# addNewControl("Title",20,50,100,50,200,300,150)
# addNewControl("Title",height=20, width=50, textlen=100, ...)
# 어? 컨트롤 박스를 만드는 구나...

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f() 
f(100, 10) 
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error
# f(c=300)# error 에러를 줄거면 'a' 순서부터 주어야 한다.

In [ ]:
def f(a, b=20, c=10): # 순서대로 안주어야 하기 때문에 a에 값을 넣지 않았습니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 10 10
100 200 300
100 200 300

## (질의응답)zip, map 등 한 번 순회가 되면 순회가 안되는 이유

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
z = zip(a,b)
print(list(z))

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li, st)

for i in z:
    print(i)

for i in z:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li,st)
for i in z:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li,st))
next(i)
# iter - next 내장함수

(1, 'a')

In [ ]:
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

1
4
9

In [ ]:
li = [1,2,3]
z = map(lambda x: x**2, li)
for i in z:
    print(i)

1
4
9

In [ ]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

3
2
1

In [ ]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

2
3

In [ ]:
# 계속 순회가 가능하게 설계가 되어 있습니다. # sorted 순회 가능 
# 이런 설계를 뒤에서 우리가 직접 해보게 될 것입니다. 
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

1
2
3
1
2
3

## 조건문

* if, elif, else, continue, break

In [ ]:
x = 2
if x > 1  and x < 10:
    print('Hello')

Hello

In [ ]:
if True:
    print('hello')

In [ ]:
if 12309:
    print('hello')

In [ ]:
def f():
    return False #True와 False로 바꿔보세요 

if f():
    print('hello')
    print('one')
print('two') # False면 if 밖에 있는 print('two')만 출력

In [ ]:
if '': #{},{},''는 모두 False 취급 합니다.
    print('hello')
    print('one')
print('two') # if 함수가 ''공백이어서 two만 출력

In [ ]:
if ' ': # 공백이 있음 True
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if [              ]: #False 
    print('hello')
    print('one')
print('two')

two

In [ ]:
if [.]: # SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30, # 마지막 콤마는 허락합니다! 소괄호, 중괄호, 대괄호에 콤마 뒤에오는 공백은 병합한다
    ]: 
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if None:
    print('false')

In [ ]:
class int(int):
    def __eq__(self, next): # eq면 다 true로 만들어줌 
        return True

if int('11') == int('10'):
    print('hello')

hello

In [ ]:
if 10 > 11:
    print('one')
    print('two')
else: 
    print('three')

three

In [ ]:
# else가 없어도 되는 경우
def f():
    if 10 > 11:
        return 'one'
    return 'two' # false여서 two출력?

print(f())

two

In [ ]:
def f():
    if 10 > 11:
        return 'one'
    return 'two'
print(f())

two

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요 ! 
# and구문으로 if를 합칠 수 있다. 
x = 10
if x >5:
    if type(x) == int:
        print('one')
# 위의 코드를 한줄로 나타낸것 ! 
if x > 5 and type(x) == int:
    print('one')

In [ ]:
x = 10
if x >5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')
# 위의 코드를 한줄로 나타낸것 ! 
if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

In [ ]:
## 순서 if , elif, else로 해야함 0-2

In [ ]:
if True:
    print('hello')
if True:
    print('hello')
if True:
    print('hello')
else:
    print('hello')

In [ ]:
if True:
    print('hello')
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
elif True: # error 위에 구문이 있어야 합니다.
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행이 안됨 
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if, elif, else구문은 함께 썼다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

mom : i'm happy!
100000

In [ ]:
# ctrl + m, m 누르시면 코드블록이 마크다운 블록이 된다.
# ctrl + m, Y 누르시면 마크다운이 코드 블록이 된다.

## if 심화

In [ ]:
# 저는 개인적으로 해당 문법이 가독성을 떨어트린다 라고 생각해서 
# 권장하진 않는다.
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능합니다.

In [ ]:
if 1 > 5 : print('hello')
elif 5 > 1: print('world')

In [ ]:
if 1 > 5 : print('hello')
elif 1 > 5: print('world')
else: print('hello world')

hello world

In [ ]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용한다. 
(print('one')if 5 > 1 else print('two')) # 괄호로 마지막에 닫아둬야 가독성이 좋음

one

In [ ]:
if 5 > 1 print('one') else print('two') # error 이렇게 사용하지 않는다
# 3항 연산자는 print가 앞에 옴

In [ ]:
if 5 > 1:
    print('one')
else:
     print('two')

In [ ]:
# 할당이나 return에서 많이 사용합니다.
# 할당이나 return을 할 때 어떤 조건을 달고 싶을 때 
# 그런데 일반 if문과 else문 거창하다고 생각이 되었을 때 
y = 100
x = 'one' if y > 80 else None
x

'one'

In [ ]:
def f(y):
    if y > 80:
        x = 'one'
    else:
        x = None
    return x
    
print(f(100))
print(f(30))

one
None

In [ ]:
# 3항 연산자
def f(y):
    return 'one' if y > 80 else None
    
print(f(100))
print(f(30))

In [ ]:
def f(y):
    if y > 80:
        return one
    return None
    
print(f(100))
print(f(30))

In [ ]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(20))

one
None

In [ ]:
def custom_sum(x):
    return sum(x)

custom_sum([1,2,3,4,5,6]) # 21
custom_sum([1,2,3,4,'5',6]) #float('inf')

In [ ]:
# 이해를 위해 만든 예제이지 효율적이진 않습니다.
def custom_sum(li):
    return sum(li) if len(list(filter(lambda x:type(x)==int, li))) == len(li) else float('inf')

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf')

inf

In [ ]:
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x:type(x)==int, x))) == len(x) else float('inf')

custom_sum([1,2,3,4,5,6]) # 21
custom_sum([1,2,3,4,'5',6]) #float('inf')

In [ ]:
l = [1,2,3,'4','5']
list(filter(lambda x: type(x) == int, l))
len(list(filter(lambda x: type(x) == int, l)))
len(l)

5

In [ ]:
l = [1,2,3,'4','5']
list(filter(lambda x:type(x)== int,l))
len(list(filter(lambda x:type(x)==int,l)))
len(l)

5

In [ ]:
# # 문제 : 다음 if문을 3항 연산자로 표현해주세요
# if x % 2 ==0:
#     홀짝여부 = '짝수'
# else:
#     홀짝여부 = '홀수'
# x = 10
# 홀짝여부 = 
# x = 10
# '짝수' if x % 2 == 0 else print '홀수'

def f(x):
    '짝수' if x % 2 == 0 else print '홀수'
f(10)

In [ ]:
# 지금하는 것은 위 보다 빈도도 거의 없습니다.
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건1일 False이고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 False일 때'

In [ ]:
# '조건1이 True일 때' 
if '조건1' 
else '조건1일 False이고 조건2가 True일 때' 
    if '조건2' 
    else '조건1, 조건2가 False일 때'

In [ ]:
x = 15
if x % 2 ==0:
    배수 = '2X' # 2의 배수
elif x % 3 ==0:
    배수 = '3X' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다 
배수

In [ ]:
x = 15
if x % 2 ==0:
    배수 = '2X' # 2의 배수
elif x % 3 ==0:
    배수 = '3X' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다 
배수

'3X'

In [ ]:
x = 15
배수 = '2x' if x % 2 ==0 else '3x' if x % 3 ==0 else '?'

In [ ]:
x = 15
배수 = '2X' if x % 2 ==0 else '3X' if x % 3 ==0 else '?'
배수

In [ ]:
x = 15
배수 = '2X' if x % 2 ==0 else '3X' if x % 3 ==0 else '?'
배수

'3X'

## 반복문

In [ ]:
# 반복문의 기본 형태 
# for 변수 in 순회가능한객체 :
#     code

In [ ]:
# 순회가능한객체 != 시퀀스형자료형 # 순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
for i in 10: # error 순회가능한 객체가 아님
    print(i)

In [ ]:
for i in 10.1: # error 순회가능한 객체가 아님
    print(i)

In [ ]:
for i in [1,2,3]:
    print(i)

1
2
3

In [ ]:
for i in {1,2,3}: # 순서는 보장하지 않지만 순회는 가능하다
    print(i)

1
2
3

In [ ]:
for i in {'one':1, 'two':2, 'three':3}:
    print(i)

one
two
three

In [ ]:
# 딕셔너리에서 값도 가져오고 싶다면
딕셔너리 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}
for i,j in 딕셔너리.items():
    print("{0} : {1}".format(i,j))

하나 : one
둘 : two
셋 : three

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
언어순위 = ['Python','JavaScript','Java','Ruby']
for i in 언어순위:
    print(i)

Python
JavaScript
Java
Ruby

In [ ]:
언어순위 = ['Python','JavaScript','Java','Ruby']
for i in enumerate(언어순위,1):
    print(i)

(1, 'Python')
(2, 'JavaScript')
(3, 'Java')
(4, 'Ruby')

In [ ]:
언어순위 = ['Python','JavaScript','Java','Ruby']
for i in enumerate(언어순위,1): #enumerate를 쓰면 숫자가 앞에 출력 
# 1부터 출력하고 싶으면 뒤에 1을 붙임 
    print(i)

In [ ]:
언어순위 = ['Python','JavaScript','Java','Ruby']
for i,j in enumerate(언어순위,101):
    print(i,j)

101 Python
102 JavaScript
103 Java
104 Ruby

In [ ]:
언어순위 = ['Python','JavaScript','Java','Ruby']
for i,j in enumerate(언어순위,1):
    print(i,j)

1 Python
2 JavaScript
3 Java
4 Ruby

In [ ]:
for _ in range(3):
    print('hello world')

hello world
hello world
hello world

In [ ]:
for _, i in [[1,2],[3,4],[5,6]]: # 뒷글자만 출력 언패킹
    print('hello world') 
    print(i)

hello world
2
hello world
4
hello world
6

In [ ]:
s = 0
for i in range(0,101,2):
    s+= i
s

2550

In [ ]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter= iter(strx)
dictxlter= iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고 
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

100 200 300 400
a b c d
one two

In [ ]:
for i in generator() # 제네레이터가 i로 넣음

In [ ]:
# for True: # 이렇게 사용하지는 못한다. 
#     print('hello')

## break과 continue

In [ ]:
for i in range(10): # i가 5가 되어서 멈춤 
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
for i in range(100):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
5 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다.
수고하셨습니다.

In [ ]:
for i in range(5): # 0-4까지 출력하므로 
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

In [ ]:
# 모든 for가 중단이 되는 것은 아닙니다! 
# 자신을 감싸고 있는 단일 반복문만 탈출합니다.

for i in range(10):
    print('----------------')
    print(i)
    for j in range(10):
        print(i, j)
        if i == 5:
            break

----------------
0
0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
----------------
1
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
----------------
2
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
----------------
3
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
----------------
4
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
----------------
5
5 0
----------------
6
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
----------------
7
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
----------------
8
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
----------------
9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [ ]:
# continue는 다음 루프로 간다. 
# 아래 코드에서 continue는 의미가 없습니다.
# 아래 코드에서 print를 실행시키지 않고
# 다음루프로 가게된다.
for i in range(10): 
    print(i)
    if i == 5:
        continue
    print(i)

0
0
1
1
2
2
3
3
4
4
5
6
6
7
7
8
8
9
9

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
# 실행과 동시에 정지를 눌러주세요.
# 무한반복입니다.
# 아래 코드는 효율적이지 못하니
# 뒤에서 배울 generator로 무한반복을 구현해주세요.
l = [1]
for i in l:
    l.append(i+1)
    print(i)

## for와 else 구문

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않는다.
for i in range(10):
    if i == 5:
        break
else:
    print('정상종료!')

In [ ]:
# 반복문 + else구문은
# 반복문이 break를 쓰지 않고 정상 종료 되었을 때
# else 구문이 실행됩니다.
for i in range(10):
    if i == 5:
        pass
else:
    print('정상종료!')

정상종료!

In [ ]:
for i in range(10):
    if i == 5:
        pass #패스를 했기 때문에 '정상종료'가 출력됨 9개
    else:
        print('정상종료!')

정상종료!
정상종료!
정상종료!
정상종료!
정상종료!
정상종료!
정상종료!
정상종료!
정상종료!

## 리스트 표현식(list comprehension)

In [ ]:
# 별 3.5개
# 리스트 안에 반복문이나 조건문을 넣어 한 번에 리스트를 생성하는 기법
# 리스트 표현식은 for보다 빠릅니다! (가독성 + 속도우위)
l = []
for i in range(10):
    l.append(i) # 괄호에 추가로 숫자를 넣음 
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i for i in range(10)] # 3항연산자랑 비슷함 for i in range가 true면? i

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 이 정도만 하실 수 있으면 우리 수업에서는 문제 없습니다. 
l = []
for i in range(10):
    if i % 2 ==0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
l = []
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
    if i % 2 ==0: # 0,2,4,6,8
        l.append(i)
l

In [ ]:
[i for i in range(10) if i % 2 ==0]

[0, 2, 4, 6, 8]

In [ ]:
list(range(0,10,2)) # 이것도 가능하고, 직관적이죠

[0, 2, 4, 6, 8]

In [ ]:
l = ['aa', 'abc', 'bbb', 'ccc', 'aba']
[i for i in l if 'a' in i]

['aa', 'abc', 'aba']

In [ ]:
# 아래 코드는 어떻게 할까요?
l = []
for i in range(10):
    if i % 2 ==0:
        l.append(i)
    elif i % 3 ==0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
[i for i in range(10) if i % 2 ==0 or i % 3 ==0]

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
l = []
for i in range(10):
    if i % 2 ==0 or i % 3 ==0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
l = []
for i in range(10):
    if i % 2 ==0 or i % 3 ==0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
[i for i in range(10) if i % 2 ==0 or i % 3 ==0]
# 먼저 []놓고 append(i)의 i를 추가

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
[i for i in range(10) if i % 2 ==0 or i % 3 ==0]

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
#구구단
# 손으로 곡 순회 1번씩 돌아보셔야 합니다.
# for i in range(2, 10):
#     for j in range(1, 10):
#         print(i, j, i*j)

'''
# step 0
# 이렇게 손이나 문자열로 늘여트려놓고
# 내가 무엇을 줄일 수 있을까?를 고민하세요.
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
'''

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 99)

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 2*i)

for 단 in range(2, 10):
    for i in range(1, 10):
        print(단, i, 단*i)

In [ ]:
for 단 in range(2,10):
    for i in range(1,10):
        print(단, i, 단*i)

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [ ]:
# 별찍기
# 트리 만드는 문제도 있고, 원 만드는 문제도 있고...
'''
*
**
***
****
*****
'''

In [ ]:
user_input = int(input('찍을 별의 층수?'))
for i in range(user_input+1):
    print('*'*i)

찍을 별의 층수?5

*
**
***
****
*****

In [ ]:
user_input = int(input('찍을 별의 층수?'))
for i in range(user_input+1):
    print('*'*i)

찍을 별의 층수?9

*
**
***
****
*****
******
*******
********
*********

In [ ]:
l =[]
for i in range(2,10):
    for j in range(1,10):
        l.append([i,j, i*j])
l

In [ ]:
l = []
for i in range(2,10):
    for j in range(1,10):
        l.append([i,j,i*j])
l

[[2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [ ]:
[[i, j, i*j] for i in range(2,10) for j in range(1,10)]

## 다중 리스트 순회

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [ ]:
skill_name = ['고기잡이', '고기팔기', '낚시']
skill_point = [100, 120, 5]

for i, j in zip(skill_name, skill_point):
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5

In [ ]:
skill_name = ['고기잡이', '고기팔기', '낚시']
skill_point = [100,120,5]

for i,j in zip(skill_name, skill_point):
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5

In [ ]:
# 이정도 코드만 아셔도 실무하는 것에는 무리가 없습니다.
skill = [
        ('고기잡이', [1, 100]),
        ('고기팔기', [1, 100]),
        ('낚시', [2, 100]),
        ('통발', [2, 100]),
        ('큰그물', [2, 100])
]

for i, [x, y] in skill: # i '고기잡이' [x,y] -> 1,100
    print(i, x, y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
skill = [
        ('고기잡이', [1, 100]),
        ('고기팔기', [1, 100]),
        ('낚시', [2, 100]),
        ('통발', [2, 100]),
        ('큰그물', [2, 100])
]
for i,[x,y] in skill:
    print(i,x,y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]

for i, [x, y] in skill:
    print(i, x, y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]
for i, [x,y] in skill:
    print(i,x,y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
# 문제
# data는 다음과 같은 데이터가 있습니다.
# 각각 skill 이름, skill 제한 레벨, skill 포인트, skill 등급입니다.
# 아래와 같이 출력해주세요.
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]


# 출력값
# 아래와 같은 형식으로 총 5개 출력해야 합니다.
# '축하합니다. S등급에 skill 고기잡이를 습득하셨습니다! 
#  해당 스킬은 레벨 제한 1에 스필 포인트 100입니다.'

In [ ]:
for i, [x,y,z] in data:
    print('축하합니다. {}등급에 skill {}를 습득하셨습니다! 해당 스킬은 레벨 제한 {}에 스필 포인트{}입니다.'.format(z,i,x,y))

축하합니다. S등급에 skill 고기잡이를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.
축하합니다. A등급에 skill 고기팔기를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.
축하합니다. A등급에 skill 낚시를 습득하셨습니다! 해당 스킬은 레벨 제한 2에 스필 포인트100입니다.
축하합니다. B등급에 skill 통발를 습득하셨습니다! 해당 스킬은 레벨 제한 2에 스필 포인트100입니다.
축하합니다. S등급에 skill 큰그물를 습득하셨습니다! 해당 스킬은 레벨 제한 2에 스필 포인트100입니다.

In [ ]:
# 문제
# data는 다음과 같은 데이터가 있습니다.
# 각각 skill 이름, skill 제한 레벨, skill 포인트, skill 등급입니다.
# 아래와 같이 출력해주세요.
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]


# 출력값
# 아래와 같은 형식으로 총 5개 출력해야 합니다.
# '축하합니다. S등급에 skill 고기잡이를 습득하셨습니다! 
#  해당 스킬은 레벨 제한 1에 스필 포인트 100입니다.'

for i, [x,y,z] in data:
    print('축하합니다. {}등급에 skill {}를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트{}입니다.'.format(z,i,y,x))

축하합니다. S등급에 skill 고기잡이를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.
축하합니다. A등급에 skill 고기팔기를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.
축하합니다. A등급에 skill 낚시를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.
축하합니다. B등급에 skill 통발를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.
축하합니다. S등급에 skill 큰그물를 습득하셨습니다! 해당 스킬은 레벨 제한 1에 스필 포인트100입니다.

## while

In [ ]:
# 반복문 : for, while
a = 1
while a < 10 : # True인 동안에
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [ ]:
# while문은 조건이 참인 동안에 명령을 반복해서 수행 
a = 1
while a < 10: 
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [ ]:
# while문의 조건을 부분에 bool형인 Ture가 오게 하면 반복문은 무한 반복
# 무한 반복이 일어나지 않게 하기 위해 break문으로 조건을 탈출

숫자 = 0
while True:
	print("현재 숫자는 ", 숫자, "입니다.")
	숫자 += 1
	if 숫자 > 5:
		print("반복문을 종료합니다.")
		break

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
현재 숫자는  5 입니다.
반복문을 종료합니다.

In [ ]:
숫자 = 0 
while True:
    print('현재 숫자는 ', 숫자, '입니다.')
    숫자 += 1
    if 숫자 > 5:
        print("반복문을 종료합니다.")
        break

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
현재 숫자는  5 입니다.
반복문을 종료합니다.

In [ ]:
숫자 = 0
while 숫자 < 5:
	print("현재 숫자는 ", 숫자, "입니다.")
	숫자 += 1
	if 숫자 > 3:
		    break
else:
    print('반복문을 종료합니다.')

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.

In [ ]:
# while 특정요소:
#     특정요소 값 꺼내는 문법
#     특정요소가 모두 없어질 때까지
l = [1,2,3]
while l: 
    print(l.pop())

3
2
1

In [ ]:
l = {1,2,3}
while l: 
    print(l.pop())

1
2
3

In [ ]:
# 중복되는 문자열 중 가장 첫번째 나온
# 문자의 index를 반환하라!
s = 'abbbbbccdennnnneefefg'
ss = set(s)
while ss:
    string = ss.pop()
    print(string, s.index(string))

e 9
n 10
d 8
f 17
c 6
a 0
g 20
b 1

In [ ]:
s = 'abbbbbccdennnnneefefg' ## 이거 이해 못함 
ss = set(s)
while ss:
    string = ss.pop()
    print(string, s.index(string))

g 20
n 10
a 0
b 1
f 17
d 8
e 9
c 6

In [ ]:
# 이러한 무한반복은 메모리를 모두 소진한다.
# 서버가 뻗을 수도 있다. 
while True:
    user_input = input('$')
    split_data = user_input.split(' ')
    if split_data[0] == 'mkdir':
        print(f'{split_data[1]}폴더가 생성되었습니다!')
    elif split_data[0] == 'rmdir':
        print(f'{split_data[1]}폴더가 삭제되었습니다!')
    elif split_data[0] == 'exit':
        print('프로그램 종료합니다.')
        break

In [ ]:
#[In]

for i in range(2, 10):
    for j in range(1, 10):
        if j > 5:
            break
        print(f'{i} X {j} = {i*j}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45

In [ ]:
d = '안_녕'
d.split('_')

['안', '녕']

In [ ]:
import random
random.randint(1,100)

14

In [ ]:
import random
# up down game
result = random.randint(1,100)
while True:
    user_input = int(input())
    if user_input > result:
        print('down')
    elif user_input < result:
        print('up')
    else:
        print('맞췄습니다!')
        print('프로그램을 종료합니다.')
        break

20
up
40
up
70
up
80
up
90
up
100
down
98
맞췄습니다!
프로그램을 종료합니다.

In [ ]:
# 구구단이 출력되지 않는 코드 
# 한땀한땀 따라가면서 왜 출력이 되지 않는지 체크해보세요.
# 왜 2단만 출력했을까?
x = 2
y = 1
while x < 10:
    while y < 10:
        print(x,y,x*y)
        y+= 1
    x += 1

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18

KeyboardInterrupt: ignored

In [ ]:
x = 2
y = 1
while x < 10:
    while y < 10:
        print(x,y,x*y)
        y+= 1
    y = 1 #초기화를 해주어야 다음 while에서 y<10에 들어갈 수 있다. 그냥 외워
    x += 1

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [ ]:
count = 0
while True:
    print(count)
    if count == 5:
        break
    count += 1
print('end')

0
1
2
3
4
5
end

In [ ]:
count = 0
while True:
    print(count)
    if count == 5:
       break
    count += 1
    print('end')

0
end
1
end
2
end
3
end
4
end
5

In [ ]:
# 0.3000000000000004
count = 0.0
while True:
    print(count)
    if count == 0.3: # 부동소수점 문제가 발생할 수 있다. 계속 무한반복
        break
    count += 0.1
print('end')

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
i = 0
while i < 10:
    if i == 5:
        break
    i += 1
else:
    print('정상종료!')

In [ ]:
i = 0
while i < 10:
    i += 1
else:
    print('정상종료!')

정상종료!

* https://school.programmers.co.kr/learn/courses/30/lessons/120871

In [ ]:
count10 = 0
n = 15
while count10 < n:
    print(count10)
    count10 += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
count10 = 0
n = 15
while count10 < n:
    print(count10)
    count10+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:

#for, else문
for i in range(5, 0, -1):
    print("고등어 ", i, " 개 남았습니다.")
else:
    print('고등어 다 팔렸습니다.')

고등어  5  개 남았습니다.
고등어  4  개 남았습니다.
고등어  3  개 남았습니다.
고등어  2  개 남았습니다.
고등어  1  개 남았습니다.
고등어 다 팔렸습니다.

In [ ]:
# step 2 조건만 구현
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 5
while count10 < n + 1: 
    count10 += 1 
    count3 += 1 
    if count3 % 3 ==0 or '3' in str(count3):
        count3 += 1
    # 저주의 숫자를 지나가도 다시 저주의 숫자일 수 있습니다
    # 체크를 계속 해야 하는데 한번만 합니다
    print(count10, count3)
count3

1 1
2 2
3 4
4 5
5 7
6 8

8

In [ ]:
def solution(n):
    count10 = 0
    count3 = 0
    while count10 < n:
        count10 += 1
        count3 += 1
        while count3 % 3 == 0 or '3' in str(count3):
            count3 += 1
    return count3

In [ ]:
def solution(n):
    return [i for i in range(1, 1001) if i % 3 != 0 and not('3' in str(i))][n-1]

In [ ]:
[i for i in range(1, 31) if i % 3 != 0 and not('3' in str(i))][n-1]

7

## 예외처리(try, except, else)

In [ ]:
# try:
#   실행문
# except:
#   예외 발생시 처리문
# else:
#   예외 발생하지 않을 경우 실행문

In [ ]:
try:
    i = 1
    j = 0
    x = i/j
except:
    print('error')
else:
    print(x)

error

## 실제 데이터를 가지고 연습(json gen)

In [ ]:
data = [
  {
    "_id": "6459c9f4ebc9d86c2a656d5e",
    "index": 0,
    "age": 27,
    "name": "Burgess Hammond",
    "gender": "male"
  },
  {
    "_id": "6459c9f4d99872fea5ad0459",
    "index": 1,
    "age": 38,
    "name": "Leon Luna",
    "gender": "male"
  },
  {
    "_id": "6459c9f4234b6e3701033326",
    "index": 2,
    "age": 35,
    "name": "Huber Nieves",
    "gender": "male"
  }
]

# 반복문을 사용해도 좋지만,
# 반복문을 사용하실 수 없다면 index로만 계산하셔도 좋습니다.
# 회원들의 평균 나이
# 회원들의 남녀 성비
1. (data[0]['age'] + data[1]['age'] + data[2]['age']) /3
2.

27

In [ ]:
#lv0
(data[0]['age'] + data[1]['age']+ data[2]['age']) / 3

성별 = []
성별.append(data[0]['gender'])
성별.append(data[1]['gender'])
성별.append(data[2]['gender'])
print(성별)
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

['male', 'male', 'male']
100.0
0.0

In [ ]:
#lv1
# 좋은 코드는 아닙니다.
age_sum = 0
for i in range(3):
    age_sum += data[i]['age']
age_sum / 3

성별 = []
for i in range(3):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

100.0
0.0

In [ ]:
#lv2
# list(map(lambda x: x['age'], data))
sum(map(lambda x: x['age'], data)) / len(data)

# 성별 (1줄)
print(len(list(filter(lambda x: x['gender']=='male', data))) / len(data) * 100)
print(len(list(filter(lambda x: x['gender']=='female', data))) / len(data) * 100)

100.0
0.0

## 알아야 하는 built-in function

### 수학적 통계에 필요한 함수

- abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
- all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
- any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
- pow( ) : 제곱을 출력합니다.
- max( ) : 값의 최댓값을 출력합니다.
- min( ) : 값의 최솟값을 출력합니다.
- sum( ) : 값의 합계를 출력합니다.
- len( ) : 문자열의 길이를 출력합니다.
- sorted( ) : 데이터를 정렬해줍니다.
- reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

In [ ]:
abs(-1) # 절대값
all([True,True,True]) # 괄호안에 있는 모든 값들이 True일 때 트루를 출력
all([False,True,True])
all(['a','b','ccc'])
all(['a','','ccc'])

False

In [ ]:
sum([[1,2],[3,4],[5,6]],[])
sum([1,2,3,4,5], 100)

115

In [ ]:
sum([[1,2],[3,4],[5,6]],[])

[1, 2, 3, 4, 5, 6]

In [ ]:
# len이 없는 것들 map, zip, filter # 
class str(str):
    def __len__(self):
        return 1000
len(str('hello world'))

1000

In [ ]:
len(zip([1,2,3],'abc')) # error

In [ ]:
# 기억하렴 # 
# len이 없는 것들 map, zip, filter

## 형변환 함수

In [ ]:
l = [1,2,3]
type(l)

list

In [ ]:
# 아래 3개는 int형
# bin() : 2진법
# oct() : 8진법
# hex() : 16진법
bin(7)
type(bin(7)) # str
0b111
type(0b111) # int
int('111',2) # 2진수
int('0b111',2)
int(0b111,2) # error

7

In [ ]:
# ord()
# chr(65)
ord('A')

65

In [ ]:
# list(range(start,stop,step))
list(range(0,10,2))
list(range(0,10))
list(range(10))
list(range(-10,10,2))
list(range(0,-10,-2))

[0, -2, -4, -6, -8]

In [ ]:
#list(range(start,stop,step))
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [ ]:
x = [10,20,30]
for i,j in enumerate(x,1):
    print(i,j)

1 10
2 20
3 30

In [ ]:
# 'abc', '123'
list(zip('abc','123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [ ]:
def 곱하기둘(x):
    return x * 2
# map(함수, 순회가능한_객체) # 함수를 묶어줌 
list(map(곱하기둘, '123'))

['11', '22', '33']

In [ ]:
def 함수(x):
    return x > 5
list(filter(함수, range(10)))

[6, 7, 8, 9]

### 도움말

In [ ]:
def hojun():
    '''
    이호준이 작성한함수
    '''
    pass
help(hojun)

## Object 관련 함수

* dir()
* id()
* type()

In [ ]:
# dir() #directory에 약자로 대상이 가진 attribute를 모두 출력합니다.
# attribute가 무엇인가? class에서 배울 멤버 + 메서드입니다.

In [ ]:
def f():
    return 100
f.name = 'leehojun'
dir(f)
print(f.name)

leehojun

In [ ]:
l = 10
# 복사가 제대로 이뤄졌나? 확인할 때
id(l) # 깊은복사, 얕은복사

140552905622032

In [ ]:
type('abc') # str
print(type('abc')) # class str
print(type(f)) # class가 전체 python을 관통하고 있다.

<class 'str'>
<class 'function'>

## 유용한 순회 가능 객체
* 외우슈

In [ ]:
list(enumerate([10,20,30])) # 순위를 매김

[(0, 10), (1, 20), (2, 30)]

In [ ]:
list(enumerate([10,20,30],100)) # 100부터 세라
list(enumerate([10,20,30],'abc')) # error뒤에 시퀀스 에러 a,b,c는 안됨

[(100, 10), (101, 20), (102, 30)]

In [ ]:
def 함수(x):
    return x > 15
list(filter(함수, [10,20,30,40])) # filter true인것만 반환
list(filter(None,[True,True,False,False])) #True인것만 반환
#filter에 None 주는 것이 어디에 유용할까요?
#여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우
list(filter(None,[[],'abc','',''])) #'abc'만 반환

['abc']

In [ ]:
def 함수(x):
    return x > 15
list(filter(함수, [10,20,30,40])) # list filter 함수 range
list(filter(None,[True,True,False,False])) # True인것만 반환
list(filter(None,[[],'abc','','']))
# 여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우

['abc']

In [ ]:
list(zip('abc','def','ght',[1,2,3],[4,5,6,7]))

[('a', 'd', 'g', 1, 4), ('b', 'e', 'h', 2, 5), ('c', 'f', 't', 3, 6)]

In [ ]:
x = [5,4,6,8,2]
list(zip('abcdefg',sorted(x))) #sorted니까 정렬 순서대로 2,4,5,6,8

[('a', 2), ('b', 4), ('c', 5), ('d', 6), ('e', 8)]

In [ ]:
x = [5,4,6,8,2]
list(zip('abcde',sorted(x)))

[('a', 2), ('b', 4), ('c', 5), ('d', 6), ('e', 8)]

In [ ]:
x = [5,4,6,8,2]
y = [7,6,45,4,2,3,3]
list(zip('abcdefg',zip(x,y)))

[('a', (5, 7)), ('b', (4, 6)), ('c', (6, 45)), ('d', (8, 4)), ('e', (2, 2))]

## args, kargs

* 가변 아규먼트, 가변 키워드 아규먼트

In [ ]:
def print_args(*args): # 꼭 args가 될 필요는 없습니다
    print(args)

print_args(100, True, 'leehojun') # 가변아규먼트를 한번에 넣고 싶을 때

(100, True, 'leehojun')

In [ ]:
def print_kwargs(a, **kwargs): # 꼭 kwargs가 될 필요는 없다.
    print(a)
    print(kwargs)


print_kwargs(100, name='leehojun', age='10')

100
{'name': 'leehojun', 'age': '10'}

In [ ]:
def print_args(b, *args): # 꼭 args가 될 필요는 없습니다
    print(args)

print_args(100, True, 'leehojun') # 가변아규먼트를 한번에 넣고 싶을 때

(True, 'leehojun')

In [ ]:
def print_args(b, *args): # error입니다. args 앞에 순서대로 넣을 변수가 있어야 한다.
    print(args)

print_args(100, True, b ='leehojun')

In [ ]:
one, two, *three = 1,2,3,4,5 # *가 하는 역할은? 남은 데이터의 패킹
print(one,two,three)

1 2 [3, 4, 5]

## lambda

* lambda는 익명함수라고 하며, 이름이 없는 함수입니다.

In [ ]:
kimyeoju = lambda x : x**2

In [ ]:
print(type(kimyeoju))

<class 'function'>

In [ ]:
print(type(lambda x : x**2))

<class 'function'>

In [ ]:
print(dir(lambda x: x**2))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
def 함수(x):
    return x ** 2
print(dir(함수))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
def add(x, y):
    return x + y
def sub():
    pass
def div():
    pass
def mul():
    pass
caculator = [add, sub, div, mul]
print(caculator[0](10, 20))#0번째 값은 add 입니다.

caculator2 = [lambda x,y:x+y, # 직접 함수를 넣을수도 있다 
              lambda x,y:x-y,
              lambda x,y:x/y,
              lambda x,y:x*y]
print(caculator2[0](10,20)) #0번째 값은 add입니다.
print(caculator2[0](10,20))

30
30
30

In [ ]:
def f():
    return lambda x,y:x+y
f()(10,20)

30

In [ ]:
def f(): # 참고 안해도됨 처음이자 마지막으로 보는 문법임 
    return lambda x: lambda i: i**2
f()(1)(10)

100

In [ ]:
def f(): # 참고 안해도됨 처음이자 마지막으로 보는 문법임 
    return lambda x: lambda i: x*i**2
f()(2)(10)

200

## lambda 실무 응용

* lambda가 응용되는 곳 : map, filter, max, min, sorted

In [ ]:
# 실무에서도 많이 사용됩니다.
def 제곱(x):
    return x ** 2

# 재사용 하는 경우에는 lambda보다 함수로 선언하는 경우도 있습니다.
list(map(제곱, [1, 2, 3, 4]))
list(map(제곱, [1, 2, 3, 4]))

# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
def 제곱(x):
    return x ** 2
# 재사용 하는 경우에는 lambda보다 함수로 선언하는 경우도 있다.
list(map(제곱, [1,2,3,4])) # 함수 , range # 필터랑 비슷
list(map(제곱, [1,2,3,4]))
# 두번째 방법 
list(map(lambda x: x**2, [1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: x ** 2, [1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 승수하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
list(zip(숫자, 승수))
list(map(lambda x,y: x ** y, 숫자, 승수))
list(filter(lambda x: x >= 100, map(lambda x,y:x**y, 숫자,승수)))
sum(list(map(lambda x,y : x **y, 숫자, 승수)))

203

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
print(list(zip(숫자, 승수)))
print(list(map(lambda x,y: x**y, 숫자, 승수)))
print(list(filter(lambda x : x >= 100, map(lambda x,y : x**y, 숫자, 승수))))
print(sum(list(map(lambda x,y : x ** y, 숫자, 승수))

SyntaxError: ignored

In [ ]:
print(list(zip(숫자, 승수)))
print(list(map(lambda x,y: x**y,숫자,승수)))
print(list(filter(lambda x: x >= 100, map(lambda x,y: x**y, 숫자,승수)))) # 뒤에 map(lambda~ 이게 range역할
print(sum(list(map(lambda x,y: x**y,숫자,승수))))

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]
[1, 4, 9, 64, 125]
[125]
203

In [ ]:
# 연습문제 
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
print(list(zip(숫자, 승수)))
print(list(map(lambda x,y : x**y,숫자,승수)))
print(list(filter(lambda x:x>=100, map(lambda  x,y : x**y,숫자,승수))))
print(sum(list(map(lambda x,y : x**y,숫자,승수))))

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]
[1, 4, 9, 64, 125]
[125]
203

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]
data = [i for i in range(len(숫자))]
data = [(숫자[i],승수[i]) for i in range(len(숫자))]
data

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

# Q1
# Q1.1
data = list(zip(숫자, 승수))

# Q1.2 (list comprehension)
data = [i for i in range(len(숫자))]
###
data = [(숫자[i], 승수[i]) for i in range(len(숫자))]
data


# Q2
# Q2.1
l = []
for i in data:
    l.append(i[0] ** i[1])
print(l)

# Q2.2
def f(x):
    return x[0] ** x[1]

print(list(map(f, data)))

# Q2.3
print(list(map(lambda x:x[0] ** x[1], data)))

# Q2.4
print(list(map(lambda x:pow(x[0], x[1]), data)))

# Q2.5 (list comprehension)
[i for i in data]
[i[0] ** i[1] for i in data] # 공간을 바로 할당해버립니다.

# Q3
# Q3.1
l = []
for i in map(lambda x:x[0] ** x[1], data):
    if i >= 100:
        l.append(i)
print(l)

# Q3.2
def f(x):
    return x > 100
data2 = map(lambda x:x[0] ** x[1], data)
print(list(filter(f, data2)))

# Q3.3
data2 = map(lambda x:x[0] ** x[1], data)
print(list(filter(lambda x:x>=100, data2)))

# Q3.4
# list(filter(lambda x:x>=100, [1, 4, 9, 64, 125]))
print(list(filter(lambda x:x>=100, map(lambda x:x[0] ** x[1], data))))

# Q3.5
print([i[0] ** i[1] for i in data if i[0] ** i[1] >= 100])

# Q4
sum(map(lambda x:x[0] ** x[1], data))

## 클래스

* 클래스는 데이터(멤버)와 기능(메서드)을 가지고 있는 인스턴트 객체를 생성하기 위한 역할
* 우리가 배우고 있는 Python을 객체 지향 프로그래밍 언어

* 현실(차) ===> 코드(class car())
* 인간이 만들어 놓은 현실 세계에서의 정의 또는 약속을 class로 가져오는 것

In [ ]:
class Car(object): #앞 부분을 대문자로 사용합니다.
	MaxSpeed = 300
	MaxPeople = 5
	def move(self, x):
		print(x, '의 스피드로 움직이고 있습니다.')
	def stop(self):
		print('멈췄습니다.')

k5 = Car()
k3 = Car()
k5.move(10)
k5.stop()
k3.move(5)
k3.stop()

print(k5.MaxSpeed)
print(k3.MaxSpeed)

10 의 스피드로 움직이고 있습니다.
멈췄습니다.
5 의 스피드로 움직이고 있습니다.
멈췄습니다.
300
300

In [ ]:
class CarFactory(object): # 첫 문자는 대문자로 합니다.
    max_Speed = 300
    max_People = 5
    # 아래 self는 스스로를 가리키기에
    # self는 인스턴스를 가리킵니다.
    def move(self): 
        print('차가 움직이고 있습니다.')
    def stop(self):
        print('차가 멈췄습니다.')
# 클래스로 바로 접근해서 무엇을 하는 것을 권고하지 않습니다.
# 제대로 알지 못하는 상태에서(인스턴스 변수, 클래스 변수를 모르는 상태에서)
print(CarFactory.max_speed) 
k5 = CarFactory() # 붕어빵(인스턴스) = 붕어빵 틀(클래스)
k3 = CarFactory() # 차(인스턴스) = 자동차공장(클래스)

In [ ]:
# 메서드 : 클래스 내에 함수
# 멤버 : 클래스 내에 변수
class CarFactory(object): 
    max_speed = 300
    max_people = 5
    # 아래 self는 스스로를 가리키기에
    # self는 인스턴스를 가리킵니다.
    def __init__(self,userinputName): # 인스턴스가 만들어질 때 실행되는 메서드
        self.name = userinputName  # 매직메서드 
    def move(self): # 일반메서드
        print(self.name, '차가 움직이고 있습니다.')
    def stop(self):
        print(self.name, '차가 멈췄습니다.') 
# 클래스로 바로 접근해서 무엇을 하는 것을 권고하지 않습니다.
# 제대로 알지 못하는 상태에서(인스턴스 변수, 클래스 변수를 모르는 상태에서)



# 자신의 고유의 영역에서 선언된 멤버와 메서드를 우선순위로 잡습니다 ##
k5 = CarFactory('케이파이브') # 붕어빵(인스턴스) = 붕어빵 틀(클래스)
k3 = CarFactory('케이쓰리') # 차(인스턴스) = 자동차공장(클래스)
k5.move()
k3.move()
k5.stop()
k3.stop()
print(k5.max_speed)

케이파이브 차가 움직이고 있습니다.
케이쓰리 차가 움직이고 있습니다.
케이파이브 차가 멈췄습니다.
케이쓰리 차가 멈췄습니다.
300

In [ ]:
print(type(k3))
dir(k3)
# 'max_people', 멤버
#'max_speed', 멤버
# 'move', 메서드
# 'name', 멤버
# 'stop' 메서드

In [ ]:
l = [10, 20, 30]
print(type(l))
dir(l)
# 전부 다 메서드 
''' 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort' '''

In [ ]:
class list(object):
    def __add__(self):
        pass
    def __class__(self):
        pass
    def __class_getitem__(self):
        pass
    def __eq__(self):
        pass
    def __ge__(self):
        pass 
    # ... 생략 ...
    def append(self):
        pass
    def clear(self):
        pass
    def copy(self):
        pass
    def count(self):
        pass
    def extend(self):
        pass
    def index(self):
        pass
    # ... 생략 ...

In [ ]:
# 클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유합니다. 
class Car(object):
    # kinds가 인스턴스에 없기에 
    # class변수로 접근하는거고, 
    # speed는 값을 =로 할당했기에 인스턴스변수가 생기는것
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name) #self.kind[name]이면 인스턴스로 사용 가능 
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.add_kinds('k5')
k3.add_kinds('k3')
k5.change_speed(500)
k3.change_speed(250)

print('k5.kinds:', k5.kinds)
print('k3.kinds:', k3.kinds)
print('k5.speed:', k5.speed)
print('k3.speed:', k3.speed)

k5.kinds: ['k5', 'k3']
k3.kinds: ['k5', 'k3']
k5.speed: 500
k3.speed: 250

In [ ]:
# 클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유합니다. 
class Car(object):
    # kinds가 인스턴스 레벨에서 없어서 그걸 
    # class변수로 접근하는거고, 
    # speed는 값을 =로 할당했기에 인스턴스변수가 생기는것
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name)
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.speed = 500 # 500 으로 변한건 케이파이브5 인스턴스 영역이 새로 생긴 것이다.
k3.speed # 클래스 변수는 값을 공유한다며?

300

In [ ]:
주인공 = ['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률


    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다.')

슬라임 = MobFactory('슬라임', 1, 10, 10, 2, 2, 100, 1, 1)
오크 = MobFactory('오크', 10, 10, 10, 2, 2, 80, 1, 1)
고블린 = MobFactory('고블린', 100, 10, 10, 2, 2, 60, 1, 1)
드래곤 = MobFactory('드래곤', 1000, 10, 10, 2, 2, 40, 1, 1)
해골 = MobFactory('해골', 10000, 10, 10, 2, 2, 1, 1, 1)

슬라임.attack()

슬라임이 1데미지로 공격했습니다.
주인공의 체력이 9999가 되었습니다.

In [ ]:
class MobFactory(object):
    주인공 = ['kimyeoju', 10000]
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률
    
    def attack(self):
        주인공[1] -= self.power
        print('{0}이 {1}데미지로 공격했습니다.'.format(self.name,self.power))
        print('주인공의 체력이 {0[1]}가 되었습니다.')

슬라임 = MobFactory('슬라임', 10, 10, 5, 2, 2, 100, 1, 1)

슬라임.attack()

슬라임이 10데미지로 공격했습니다.
주인공의 체력이 {0[1]}가 되었습니다.

In [ ]:
주인공 = ['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률

    def __add__(self, next):
        if self.name == '슬라임':
            return MobFactory(f'왕{self.name + next.name}', 
                              self.power + next.power, 
                              10, 10, 2, 2, 100, 1, 1)
        return None

    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다.')
    

슬라임 = 슬라임 = MobFactory('슬라임', 1, 10, 10, 2, 2, 100, 1, 1)
왕슬라임 = 슬라임 + 슬라임

왕슬라임.power
왕슬라임.name

'왕슬라임슬라임'

In [ ]:
악당 = ['devil', 10000]
class CharacterFactory(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률

    def attack(self):
        악당[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'악당의 체력이 {악당[1]}가 되었습니다.')

licat = CharacterFactory('licat', 10, 10, 2, 5, 5, 98, 1, 1)
mura = CharacterFactory('mura', 8, 5, 10, 15, 10, 90, 1, 1)

licat.attack()

licat이 10데미지로 공격했습니다.
악당의 체력이 9990가 되었습니다.

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '김재현',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '범남궁',
    '2023/05/10',
    )
    
게시글1.title
게시글3.content

'오늘 강원의 날씨는 참 좋네요! 블라블라'

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '김재현',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '범남궁',
    '2023/05/10',
    )

data = [게시글1, 게시글2, 게시글3]
for i in data:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '김재현',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '범남궁',
    '2023/05/10',
    )

data = [게시글1, 게시글2, 게시글3]
for i in data:
    print(i.content)

오늘 제주의 날씨는 참 좋네요! 블라블라
오늘 부산의 날씨는 참 좋네요! 블라블라
오늘 강원의 날씨는 참 좋네요! 블라블라

In [ ]:
# 쉽고 중요한 예제!
# 이 코드는 가능하면 손으로 2 ~ 3번 써보시길 권해드립니다.

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

게시글3 = BlogFactory(
        '오늘 강원의 날씨',
        '오늘 강원의 날씨는 참 좋네요! 블라블라',
        '10000',
        '범남궁',
        '2023/05/10',
    )

data = [게시글1, 게시글2, 게시글3]
for i in data:
    if i.writer == '이호준':
        print(i.title)
        print(i.content)
        print(i.count)
        print(i.create_date)

오늘 제주의 날씨
오늘 제주의 날씨는 참 좋네요! 블라블라
0
2023/05/10

In [ ]:
data = [게시글1, 게시글2, 게시글3]
for i in data:
    print(f'<h2>{i.title}</h2>')
    print(f'<p>{i.content}</p>')
    print(f'<p>{i.writer}</p>')
    print(f'<p>{i.count}</p>')
    print(f'<p>{i.create_date}</p>')

In [ ]:
# 조금 난이도가 있는 예제 기억하지 않아도 됨 
###### 여기서부터 복습 

class BlogFactory(object):
    dataset = []
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

게시글3 = BlogFactory(
        '오늘 강원의 날씨',
        '오늘 강원의 날씨는 참 좋네요! 블라블라',
        '10000',
        '범남궁',
        '2023/05/10',
    )

for i in 게시글1.dataset:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [ ]:
# x = int(10)
# y = 10
# x.__add__ = lambda self, next = srt(self) + str(next) # error

In [ ]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return self.title

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

print(게시글1) # self.title로 찍으면 이렇게 나옴 
print(게시글2)

오늘 제주의 날씨
오늘 부산의 날씨

In [ ]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)
    
    def __str__(self):
        return self.content


게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

print(게시글1)
print(게시글2)

오늘 제주의 날씨는 참 좋네요! 블라블라
오늘 부산의 날씨는 참 좋네요! 블라블라

In [ ]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return (f'{len(self.dataset)} 제목 : {self.title} 내용 : {self.content} 조회수 : {self.count} 글쓴이 : {self.writer} 생성날짜 : {self.create_date}')


게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )
print(게시글1)

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )


print(게시글2)

1 제목 : 오늘 제주의 날씨 내용 : 오늘 제주의 날씨는 참 좋네요! 블라블라 조회수 : 0 글쓴이 : 이호준 생성날짜 : 2023/05/10
2 제목 : 오늘 부산의 날씨 내용 : 오늘 부산의 날씨는 참 좋네요! 블라블라 조회수 : 1000000 글쓴이 : 김재현 생성날짜 : 2023/05/10

In [ ]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return f'{len(self.dataset)}. 제목 : {self.title}, 내용 : {self.content[:5]}, 글쓴이 {self.writer}'

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

print(게시글1) # self.title로 찍으면 이렇게 나옴 

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

print(게시글2)

1. 제목 : 오늘 제주의 날씨, 내용 : 오늘 제주, 글쓴이 이호준
2. 제목 : 오늘 부산의 날씨, 내용 : 오늘 부산, 글쓴이 김재현

In [ ]:
class Bookinfo(object):
    dataset = []
    def __init__(self, 제목, 저자, 출판사, 가격, 날짜 ):
     self.title = 제목
     self.writer = 저자
     self.publisher = 출판사 
     self.price = 가격
     self.data = 날짜
     self.dataset.append(self)

    def __str__(self):
        return f'제목 : {self.title}, 저자: {self.writer}, 출판사: {self.publisher}, 가격: {self.price}, 날짜: {self.data}'

시장학개론 = Bookinfo('시장학개론', '김승호', '스노우폭스북스', int(22500), '2023/04/19')
모든삶은흐른다 = Bookinfo('모든삶은흐른다', '로랑스드빌레르', '피카', int(15120), '2023/04/23')

data = [시장학개론, 모든삶은흐른다]
for i in data:
    print(i.title)

시장학개론
모든삶은흐른다

In [ ]:
import hashlib

비밀번호 = hashlib.sha256()
비밀번호.update('helloworld!'.encode('utf-8'))
비밀번호.hexdigest() # 영화를 집어넣든, 음악을 집어넣든, 소설을 집어넣든, 암호를 집어넣든 모두 64자로 만듭니다.

In [ ]:
# 1번째 스탭
# 공개되는 정보, 공개되지 않는 정보
# 멤버(정적 수치, 문자열)와 메서드(기능)
class Product(object):
    def __init__(self, 품명, 가격):
        self.product_name = 품명
        self.price = 가격
        
자전거 = Product(
    '자전거',
    100000,
)

class UserInfo(object):
    def __init__(self, 
                 이름, 
                 이메일,
                 비밀번호, 
                 주요접속기기, 
                 주요접속국가, 
                 주요접속지역, 
                 마지막접속일자, 
                 회원가입날짜, 
                 별명, 
                 적립금, 
                 생일, 
                 휴대폰번호, 
                 휴대폰인증여부, 
                 고객등급, 
                 휴면계정여부):
        self.이름 = 이름
        self.고객등급 = 고객등급
        self.적립금 = 적립금
    
    def 물품구매(self, product):
        self.적립금 -= product.price

    def 회원탈퇴(self):
        pass

    def 장바구니등록(self):
        pass

이호준 = UserInfo(
    이름 = '이호준',
    이메일 = 'hojun@gmail.com',
    비밀번호 = '98d234db7e91f5ba026a25d0d6f17bc5ee0a347ea2216b0c9de06d43536d49f4',
    주요접속기기 = 'Android',
    주요접속국가 = 'Korea',
    주요접속지역 = 'Jeju',
    마지막접속일자 = '23/05/10',
    회원가입날짜 = '23/05/10',
    별명 = '준',
    적립금 = 1000000000,
    생일 = '13/13',
    휴대폰번호 = '010-0000-0000',
    휴대폰인증여부 = True,
    고객등급 = 'VIP',
    휴면계정여부 = False,
)

이호준.물품구매(자전거)
이호준.적립금

999900000

In [ ]:
# 이름, 성별, 생년월일, 전화번호, 이메일 

class UserInfo(object):
    
    def __init__(self, 이름, 성별, 생년월일, 전화번호, 이메일):
     self.name = 이름
     self.gender = 성별
     self.birthdate = 생년월일
     self.number = 전화번호
     self.email = 이메일
     
    def __str__(self):
        return f'--유저정보-- \n 이름 : {self.name}, 성별 : {self.gender}, 생년월일 : {self.birthdate}, 전화번호 :{self.number}, 이메일 : {self.email}'


user1 = UserInfo('김여주', '여자', '1998-03-31', '010-9793-0031', 'dd0031@naver.com')
user2 = UserInfo('홍수복', '여자', '1963-05-20', '010-2418-0031', 'ghdtnqhr111@naver.com')
user3 = UserInfo('김평원', '남자', '1956-04-07', '010-9795-9953', 'kpy0407@naver.com')

print(user1)
print(user2)
print(user3)

--유저정보--
 이름 : 김여주, 성별 : 여자, 생년월일 : 1998-03-31, 전화번호 :010-9793-0031, 이메일 : dd0031@naver.com
--유저정보--
 이름 : 홍수복, 성별 : 여자, 생년월일 : 1963-05-20, 전화번호 :010-2418-0031, 이메일 : ghdtnqhr111@naver.com
--유저정보--
 이름 : 김평원, 성별 : 남자, 생년월일 : 1956-04-07, 전화번호 :010-9795-9953, 이메일 : kpy0407@naver.com

In [ ]:
class Car(object):
    MaxSpeed = 300
    MaxPeoeple = 5
    def __init__(self):
        pass
    def move(self, x):
        pass
    def stop(self):
        print('멈췄습니다.')
    @staticmethod #decorator
    def 스피드배속(현재스피드, 배속할스피드):
        print(f'현재 {현재스피드 * 배속할스피드}의 스피드로 달리고 있습니다.')

Car.스피드배속(100, 2) # 붕어빵 찍는 틀이 얼마나 붕어빵을 만들어 냈는가?를 알고 싶을때

현재 200의 스피드로 달리고 있습니다.

In [ ]:
## 예를 들어
class Hotel:
    pass
Hotel.빈방이있는호텔() # 전체 호텔에 빈방이 있는 호텔
호텔1.빈방 # 호텔1에 빈방이 있는지 여부

### 상속

In [ ]:
# 이 예제는 기억하고 있으셔야 합니다 (상속)
class Car(object): 
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

In [ ]:
dir(k3)

In [ ]:
HyK3 = HybridCar()
K3 = Car()
ElHyk3 = ElextriCar()
id(K3,maxSpeed), id(HyK3.maxSpeed)
id(K3.move), id(HyK3.move)
# 상속을 받아서 id도 독같음

In [ ]:
# 우리가 앞으로 알고리즘에서 할 코드입니다.
# 예방주사 차원에서 진행하도록 하겠습니다.

In [ ]:
# 아주 간단한 코드입니다.
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None

노드1 = Node(10)
노드2 = Node(20)
노드3 = Node(30)

# 노드1.data

노드1.next = 노드2
노드2.next = 노드3

노드1.next.data # 노드2.data
노드1.next.next.data # 노드2.next.data -> 노드3.data

30

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

노드1 = Node(10)
노드2 = Node(20)
노드3 = Node(30)

노드1.next = 노드2
노드2.next = 노드3

노드1.next.data

20

In [ ]:
class Node:
    def __init__(self, data, data1):
        self.data = data
        self.data1 = data1
        self.next = None

노드1 = Node(10,20)
노드2 = Node(30,40)
노드3 = Node(50,60)

노드1.next = 노드2
노드2.next = 노드3

노드2.next.data1

60

In [ ]:
# 이해하슈
class Node:
    def __init__(self, data, data2):
        self.data = data
        self.data2 = data2
        self.next = None

노드1 = Node(10,20)
노드2 = Node(20,30)
노드3 = Node(30,40)

노드1.next = 노드2
노드2.next = 노드3

노드1.next.next.data2

40

### 메서드 오버라이딩

* 부모 클래스에서 상속받은 함수를 자식 클래스에서 같은 이름으로 선언하여 사용하는 것

In [ ]:
class Car(object):
    maxSpeed = 300
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')

class HybridCar(Car):
    battery = 1000

class ElectricCar(HybridCar):
    battery = 2000

    def move(self, x):
        print(x, '스피드로 달리고 있습니다.')

car1 = ElectricCar()
car1.move()

TypeError: ignored

### 다중상속

* 부모 클래스에서 상속받은 함수를 자식 클래스에서 같은 이름으로 선언하여 사용하는 것

In [ ]:
class Car(object):
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')


class HybridCar(Car):
    battery = 1000

class ElectricCar(HybridCar):
    battery = 2000

    def move(self, x):
        print(x, '스피드로 달리고 있습니다.')

# 자신의 고유의 영역에서 선언된
# 멤버와 메서드를 우선순위로 잡습니다.
class Test(ElectricCar):
    pass

Test.mro() # MRO(Method Resolution Order)
# print(Test.battery)

[__main__.Test, __main__.ElectricCar, __main__.HybridCar, __main__.Car, object]

In [ ]:
class A(object):
    maxSpeed = 300

class B(A):
    battery = 1000

class C(A):
    battery = 2000

class D(B, C):
    pass

D.mro()
# D.battery

# 다이아몬드 상속 D -> B

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [ ]:
class A(object):
    maxSpeed = 300

class B(A):
    battery = 1000

class C(A):
    battery = 2000

class D(B, C):
    pass

D.mro() # 상속받은 클래스는 mro로 확인할 수 있다. 제일 가까이 있는게 상속받은 우선순위가 높다

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [ ]:
# __는 문법 적으로 접근이 안된다. : 변수를 보호할 수 있다. 
# 변수를 변경하는 것을 보다 엄격하게 관리할 수 있다.
# _는 공식이 아니다. 
# _는 문법적으로 접근이 된다. (회사 컨벤션마다 다르다.)

class Car(object):
    __maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 움직이고 있습니다.')
        print(self.__maxSpeed, '가 최고 속도입니다.')
    def stop(self):
        print('멈췄습니다.')

k5 = Car() # K5는 클래스의 인스턴스로 만든 것이고 클래스의 인스턴스가 되었기에 
# 클래스 내부의 메서드를 불러일으킬 수 있음 
k5.move(10)
# k5.__maxSpeed #error
# k5.maxPeople

10 의 스피드로 움직이고 있습니다.
300 가 최고 속도입니다.

## 이터레이터

In [ ]:
class MyIter:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop
    
    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        self.currentValue += 1
        return self.currentValue # next로 호출해서 값이 커진다

li = MyIter(5)
for i in li: # for는 계속해서 next를 호출 error가 날 때까지
    print(i)

1
2
3
4
5

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop

    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

my_iterator = MyIterator(5) 

for i in my_iterator:
    print(i)

0
1
2
3
4

In [ ]:
class MyIter:
    def __init__(self, stop):
        self.stop = stop
# 이터레이터란 ? 값을 차례대로 꺼낼 수 있는 객체를 의미 

    def __iter__(self): # iter는 for을 만나면 실행이 된다
        self.currentValue = 0
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5) 
# for는 iter먼저 실행하고, next로 StopIteration
for i in li: # 먼저 값이 들어오는것부터 출력 
    print(i)
# for가 끝나면 다시 iter로 돌아가서 초기화된다 
for i in li:
    print(i)

0
1
2
3
4
0
1
2
3
4

In [ ]:
class MyIter:
    def __init__(self, stop):
        self.stop = stop
    
    def __iter__(self): # iter는 for을 만나면 실행이 된다
        self.currentValue = 0 
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5)
# for는 iter먼저 실행하고, next로 StopIteration
i = iter(li) # 
next(i)

0

In [ ]:
a, b, c, d = MyIter(4)
print(a,b,c,d)

0 1 2 3

In [ ]:
a, b, c, d = range(4)
print(a,b,c,d)

0 1 2 3

In [ ]:
# 이것도 이해하고 넘어가렴 # 
class Car:
    test = [] # 멤버 변수   

    def __init__(self, color):
        self.color = color # 인스턴스 변수

k5 = Car('red')
k5.test.append('hello')
k9 = Car('blue')
k9.test.append('world')

print(k5.color) # red가 출력됩니다.
print(k9.color) # blue가 출력됩니다.
print(k5.test) # ['hello','world']가 출력됩니다.
print(k9.test) # ['hello','world']가 출력됩니다.

red
blue
['hello', 'world']
['hello', 'world']

In [ ]:
class Car:
    test = [] # 멤버변수는 모든 인스턴스가 공유된다. 

    def __init__(self, color):
        self.color = color # 반면 인스턴스 변수는 하나의 인스턴스가 가지고 있는
        # 개별적인 값

k3 = Car('blue')
k5 = Car('red')
k3.test.append('hello')
k5.test.append('world')

k3.color
k5.color
k3.test
k5.test

['hello', 'world']

## 제너레이터

* 제너레이터란, 이터레이터를 생성해주는 함수

In [ ]:
# 제너레이터를 만들 때에는 yield 키워들르 사용한다. yield 키워드를 사용하면
# 함수가 실행 중에 중간 결과값을 반환할 수 있다.

In [ ]:
def gen():
    count = 0
    while True:
        yield count #yield는 return값이랑 비슷하다
        count += 1

for i in gen(): # gen은 yield에서 가지고옴
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 제너레이터 실무에서 많이 쓰임 
def gen():
    count = 0
    while True:
        yield count
        count += 2

l = [10,20,30,40,50]
list(zip(l,gen()))

[(10, 0), (20, 2), (30, 4), (40, 6), (50, 8)]

In [ ]:
def gen():
    count = 0
    while True:
        yield f'{count}주차'
        count += 2
    
과목 = ['HTML', 'CSS', 'JavaScript', 'Python']

list(zip(과목,gen()))

[('HTML', '0주차'), ('CSS', '2주차'), ('JavaScript', '4주차'), ('Python', '6주차')]

In [ ]:
def gen():
    count = 0
    while True:
        yield f'{count}주차'
        count += 2

과목 = ['HTML', 'CSS', 'JAVA', 'Python']

list(zip(과목, gen()))

[('HTML', '0주차'), ('CSS', '2주차'), ('JAVA', '4주차'), ('Python', '6주차')]

In [ ]:
def gen():
    count = 0
    while True:
        yield count
        count += 1
        if count ==6:
            count = 1
과목 = ['A', 'B', 'C', 'D', 'E', 'F', 'G','H', 'I', 'J', 'K']

list(zip(과목, gen()))

[('A', 0),
 ('B', 1),
 ('C', 2),
 ('D', 3),
 ('E', 4),
 ('F', 5),
 ('G', 1),
 ('H', 2),
 ('I', 3),
 ('J', 4),
 ('K', 5)]

In [ ]:
def gen():
    count = 0
    while True:
        yield count
        count += 1
        if count == 6:
            count = 1
과목 = ['A', 'B', 'C', 'D', 'E', 'F', 'G','H', 'I', 'J', 'K']

list(zip(과목, gen()))

[('A', 0),
 ('B', 1),
 ('C', 2),
 ('D', 3),
 ('E', 4),
 ('F', 5),
 ('G', 1),
 ('H', 2),
 ('I', 3),
 ('J', 4),
 ('K', 5)]

## 데코레이터(데커레이터)

In [ ]:
# 아래와 같이 실무에서 활용됩니다. 

@login # 로그인 된 사용자만 비밀게시판을 이용할 수 있다
def 비밀게시판():
    return render()

@check_vip
def vip용쿠폰():
    return render()

#데이터 전처리 : 
#데이터에 이상치(이상한 값), 결측치(비어있는 값)
#['10',1,2,3,'20']-> [10,1,2,3,20]
@데이터전처리
sum(data)

@데이터전처리후퍼센테이지
sum(data)

# [10,20,30] -> 60%

SyntaxError: ignored

In [ ]:
def one():
    return lambda x,y : x + y

더하기 = one()
더하기(10,10)

20

In [ ]:
def one():
    def two(x, y):
        return x + y
    return two

더하기 = one()
더하기(10, 10)

20

In [ ]:
# 중요한 코드 입니다. 
# 손으로 2~3번 써보시길 권해드립니다 
def print_hello(func):
    def wrap_func():
        print('hello')
        func()
    return wrap_func
@print_hello
def func1():
    print('func1 입니다.')

func1() #func1을 만나면 데코레이터가 먼저 있는지 확인 데코레이터 함수 def func1 을
# 위에 def print_hello에 넣는다

hello
func1 입니다.

In [ ]:
# 형태를 외우는걸 추천 
def 인사말(func):
    def wrap_func():
        print('안녕하세요.')
        func()
    return wrap_func
@인사말
def 자기소개1():
    print('이호준입니다.')

@인사말
def 자기소개2():
    print('홍길동입니다.')

@인사말
def 작별인사():
    print('안녕히계세요.')

자기소개1() #func1을 만나면 데코레이터가 먼저 있는지 확인 데코레이터 함수 def func1 을
# 위에 def print_hello에 넣는다 
자기소개2()
작별인사()

안녕하세요.
이호준입니다.
안녕하세요.
홍길동입니다.
안녕하세요.
안녕히계세요.

In [ ]:
def 인사말(func):
    def wrap_func(이름):
        print('안녕하세요.')
        func(이름)
    return wrap_func

@인사말
def 자기소개1(name):
    print(f'{name}입니다.')

@인사말
def 자기소개2(name):
    print(f'{name}입니다.')

def 작별인사():
    print('안녕히계세요.')

자기소개1('이호준')
자기소개2('홍길동')
작별인사()

안녕하세요.
이호준입니다.
안녕하세요.
홍길동입니다.
안녕히계세요.

In [ ]:
def 인사말(func):
    def wrap_func(name):
        print('안녕하세요')
        func(name)
    return wrap_func

@인사말
def 자기소개1(name):
    print(f'{name}입니다.')


@인사말
def 자기소개2(name):
    print(f'{name}입니다.')


자기소개1('김여주')

안녕하세요
김여주입니다.

In [ ]:
#*^^*

def 전처리(func):
    def wrap_func(iterable):
        iterable = list(map(int, iterable))
        print(func(iterable))
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l) # sum은 숫자 2+3 = 5 len은 글자 2개 

평균(['1',2,3,'4'])

2.5

In [ ]:
def 전처리(func):
    def wrap_func(iterable):
        return func(list(map(int, iterable)))
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

2.5

In [ ]:
def 전처리(func):
    def wrap_func(iterable):
        i = list(map(int, iterable))
        calculate = func(i)
        result = str(calculate) + '%'
        return result
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

'2.5%'

In [ ]:
# 데코레이터 실습 문제
# 다음 값이 들어갔을 때, 숫자만 모두 더하는 코드를 완성하세요.

li = ['10', True, False, '21', 0, 10, 20]

@전처리
def custom_sum(l):
    sum(l)

custom_sum(li)

'None%'

In [ ]:
# *^^* 노이해 
# 내가 푼 것 
# iterable 멤버들을 한번에 하나씩 돌려줄 수 있는 객체 (정확히 말하면 순회를 당하는 것 )
l = ['10', True, False, '21', 0, 10, 20]

def 전처리(func):
    def wrap_func(iterable):
        return func(list(int(filter(lambda x: type(x) == int or type(x) == str, iterable))))
        return wrap_func
        
        
@전처리
def custom_sum(data):
    return sum(data)

print(custom_sum(l))

TypeError: ignored

In [ ]:
# 다른코드 
l = ['10', True, False, '21', 0, 10, 20]

def 전처리(func):
    def warp_func(iterable):
        iterable = map(int, filter(lambda x: type(x) == int or type(x) == str, iterable))
        return func(iterable)
    return warp_func
    
@전처리
def custom_sum(data):
    return sum(data)

print(custom_sum(l))

61

In [ ]:
# 데코레이터에 argument를 넣는 방법
def deco1(name):
    def deco2(func):
        def wrapper():
            print('decorator1')
            func()
        return wrapper
    return deco2
 
# 데코레이터를 여러 개 지정
@deco1('hojun')
def hello():
    print('hello')
 
hello()

## 모듈과 패키지

In [ ]:
# 연습1 (파일 1개 생성)
# 현재 폴더에 test1.py 파일을 생성했고
# name = 'kimyeoju'
# age = 10

# def hello():
#     pass
    
# class Human():
#     pass

In [ ]:
import test1

print(test1.name)
print(test1.hello())

kimyeoju
None

In [ ]:
!pip list

In [ ]:
!pip install

In [ ]:
# 연습 2(파일 2개 생성)
# 주의!! 같은 이름이 있었을 경우
# 마지막에 추가된 변수명으로 할당
# import*는 더더욱 포함시키는 변수, 매서드, 클래스 명을 알 수 없기에
# 주의해서 사용해야 합니다. 

from test2 import name
from test1 import name
print(name)

In [ ]:
# 연습3 (폴더>파일 생성)
# one이라는 것이 여기서는 폴더입니다 ! 
# 폴더로 연습
# one이 폴더명 two가 파일명
from one import two

print(two.name)

hello world

In [ ]:
# 연습 4 (폴더 > 폴더 > 파일 생성)
#런타임 재시작 하세요 ! 
from one.two import three
# 폴더 내려갈 때 점찍어서 내려감 one.two

print(three.name)

hello world

In [ ]:
# 연습 5
import test1 as t # as로 쓰면 별칭으로 사용 가능

t.hello()

hello world

In [ ]:
# Python에 모듈
import pandas as pd
import numpy as np

In [ ]:
# 느낌표는 crl로 명령어 # 파일이 생김
!mkdir kimyeoju

In [ ]:
!pip install 패키지이름

In [ ]:
!pip list

In [ ]:
import random as rd #랜덤한 숫자 반환

rd.randint(0, 10)

## 파일 입출력

In [ ]:
f = open('python.txt', 'w') # 파일모드 : r(read), w(wrie, 덮어쓴다.), a(append)
f.close()

In [ ]:
f = open('python.txt', 'w')
s = ''
for i in range(1,6):
    s += f'{i}명이 참여 중입니다. \n'
f.write(s)
f.close()

In [ ]:
f = open('python.txt', 'w')
s = 'hello\nworld'
f.write(s)
f.close()

In [ ]:
data =['one','two','three']
data2 = [10,20,30]
'''
{
    "one":10,
    "two":20,
    "three":30
}
'''
f = open('python.json', 'w')
s = 'hello\nworld'
f.write(s)
f.close()

In [ ]:
# 이건 내가 푼 것 
f = open('python.json', 'w', encoding='utf-8')
s1 = ['one','two','three']
s2 = [10,20,30]
s = str(dict(zip(s1, s2)))
f.write(s)
f.close()

In [ ]:
# import json + dumps() -> 
# python의 객체를 json문자열로 변환하기 위해서는 dumps()사용
import json
f = open('python1.json', 'w')
s1 = ['one', 'two', 'three']
s2 = [10, 20, 30]
s = json.dumps(dict(zip(s1,s2)), indent = 4)
f.write(s)
f.close()

In [ ]:
import json
text = f'/////////////// 업데이트 방법 //////////////\n\
// 1. 아래 데이터는 민감데이터로 크롤링에 의존하지 않는 데이터입니다.\n\
//    긴급할 경우 아래 데이터만 수정하여 push 해주세요.\n\
// 2. 크롤러_통합.py를 실행시키시고, 모두 push해주시면 됩니다.\n\
//    크롤러_세계확진자.js, koreaRegionalData.js가 뽑힙니다.\n\
// 3. 크롤러가 동작하지 않을 경우 수동업데이트해야 합니다.\n\
////////////////////////////////////////////\n\
// 존스홉킨스 : https://gisanddata.maps.arcgis.com/a\n\
// https://www.worldometers.info/coronavirus/\n\
// 질본 : http://ncov.mohw.go.kr/bdBoardLis\n\
// 선차트용 데이터 - 제주도청 제공\n\
var 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]


f = open('data.js', 'w')
s = json.dumps(dict(zip(data1,data2)), indent=4)
s = text + s
f.write(s)
f.close()

In [ ]:
import json

text = f'안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]

f = open('data.js', 'w')
s = json.dumps(dict(zip(data1,data2)), indent=4)
s = text + s
f.write(s)
f.close()

In [ ]:
text = f'//안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]

f = open('data.js', 'w')
s = str(dict(zip(data1,data2)))
s = text + s
f.write(s)
f.close()

## 파일 읽기

* readline( ) : 라인 별로 읽습니다

In [ ]:
f = open('python.txt', 'r')
while True:
	line = f.readline()
	if not line:
		break
	print(line)
f.close()

hello

world

* readlines( ): 전체 텍스트를 한꺼번에 읽어옵니다.

In [ ]:
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

* read( ) : 파일 전체 내용을 읽어옵니다.

In [ ]:
f = open('python.txt', 'r')
data = f.read()
print(data)
f.close()

In [ ]:
# 개행이 2번 되었던 이유는 print 함수가 이미 개행 옵션을 가지고 있기 때문에 
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

### 파일 내용 추가

In [3]:
f = open('python','w')
s = ''
for i in range(5):
    s += f'{i}명 참여중입니다.'
f.write(s)
f.close()

In [4]:
f = open('python','a') # 다시 write모드로 하면 처음부터 덮어씁니다.
s = ''
for i in range(5,11):
    s += f'{i}명 참여중입니다.'
f.write(s)
f.close()

* 파이링 계속 열려있는 상태가 유지
* 메모리 효율

## 파일 열기와 닫기를 동시에

In [5]:
with open('test.txt', 'w') as f:
    f.write('Life is too short, you need python')

## 파일 입출력 심화 과정

* github(https://github.com/paullabkorea/xlsxwriter) 에서 모든 소스코드를 다운로드 받으실 수 있습니다.
* 무료책인 인공지능을 활용한 업무자동화 책(2021 Version Notion)을 활용하면 좀 더 활용성이 극대화된 코딩이 가능합니다.(크롤링, 워드파일 크롤링, PDF크롤링, 문자 보내기 등)
* 업무자동화 Notion 링크 : https://paullabworkspace.notion.site/2021-6192ed4219fc4e7a96e10b22cfa27c80

In [ ]:
!pip3 install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.1.0-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.7/152.7 kB 3.8 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.0

In [ ]:
# openpyxl, xlrd, xlwt ...
# 다른 사용자가 만든 모듈

In [ ]:
import xlsxwriter

# 엑셀 파일 생성하기
workbook = xlsxwriter.Workbook('test.xlsx')

# 파일 안에 워크 시트 생성하기
worksheet = workbook.add_worksheet('test')

data = ['AA', 'BB', 'CC', 'DD']
worksheet.write('A1', data[0])
worksheet.write('B1', data[1])
worksheet.write('C1', data[2])
worksheet.write('D1', data[3])

worksheet.write('A2', 1)
worksheet.write('B2', 2)
worksheet.write('C2', 3)
worksheet.write('D2', 4)
            #(행, 열, 데이터)
worksheet.write(2, 0, 10)
worksheet.write(2, 1, 20)
worksheet.write(2, 2, 30)
worksheet.write(2, 3, 40)

workbook.close()

In [ ]:
홍길동 = [33, 88, 24]
이호준 = [34, 66, 77]
김철수 = [78, 82, 36]

145

In [ ]:
홍길동 = [33, 88, 24]
이호준 = [34, 66, 77]
김철수 = [78, 82, 36]

workbook = xlsxwriter.Workbook('test.xlsx')
worksheet = workbook.add_worksheet('test')

l = ['이름', '국어', '영어', '수학', '평균']
for i in range(5):
    worksheet.write(0, i, l[i])

worksheet.write(1, 0, '홍길동')
for i in range(3):
    worksheet.write(1, i+1, 홍길동[i])
worksheet.write(1, 4, sum(홍길동) / len(홍길동))

worksheet.write(2, 0, '이호준')
for i in range(3):
    worksheet.write(2, i+1, 이호준[i])
worksheet.write(2, 4, sum(이호준) / len(이호준))

worksheet.write(3, 0, '김철수')
for i in range(3):
    worksheet.write(3, i+1, 김철수[i])
worksheet.write(3, 4, sum(김철수) / len(김철수))

In [ ]:
홍길동 = [33, 88, 24]
이호준 = [34, 66, 77]
김철수 = [78, 82, 36]
all_data = [홍길동, 이호준, 김철수]

workbook = xlsxwriter.Workbook('test.xlsx')
worksheet = workbook.add_worksheet('Grades')

row_header = ['', '국어', '영어', '수학', '평균']
col_header = ['', '홍길동', '이호준', '김철수']

for idx, subject in enumerate(row_header):
    worksheet.write(0, idx, subject)

for idx, subject in enumerate(col_header):
    worksheet.write(idx, 0, subject)

for row_idx, line in enumerate(all_data):
    for col_idx, value in enumerate(line):
        worksheet.write(row_idx +1, col_idx + 1, value)
    # average
    avg = sum(line) / len(line)
    worksheet.write(row_idx + 1, len(line) + 1, avg)

workbook.close()

In [ ]:
import xlsxwriter

홍길동 = [33, 88, 24]
이호준 = [34, 66, 77]
김철수 = [78, 82, 36]

workbook = xlsxwriter.Workbook('test.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write(0, 0, '이름')
worksheet.write(0, 1, '국어')
worksheet.write(0, 2, '영어')
worksheet.write(0, 3, '수학')

worksheet.write(1, 0, '홍길동')
worksheet.write(2, 0, '이호준')
worksheet.write(3, 0, '김철수')

for i in range(len(홍길동)):
    worksheet.write(1, i+1, 홍길동[i])
    worksheet.write(2, i+1, 이호준[i])
    worksheet.write(3, i+1, 김철수[i])

workbook.close()

## OS 모듈

In [ ]:
import os

os.getcwd() # os.getcwd() 함수는 현재 작업 디렉토리를 출력

'/content'

In [ ]:
os.listdir() # 경로에 존재하는 파일과 디렉토리를 리스트로 변환할 때 사용

['.config',
 'python.json',
 'test.xlsx',
 'kimyeoju',
 'python.txt',
 'test1.py',
 '__pycache__',
 'test1.xlsx',
 '.ipynb_checkpoints',
 'one',
 'sample_data']

In [ ]:
for i in os.listdir():
    if len(i.split('.')) >= 2:
        if i.split('.')[1] == 'py' or i.split('.')[1] == 'txt':
            print(i)

python.txt
test1.py

In [ ]:
os.mkdir('hello') # 폴더를 생성할 일이 없습니다. # log 누적할 때

In [ ]:
import glob

glob.glob("*.py")

['test1.py']

## advanced 문제

In [ ]:
@writefile
def add(a, b):
    return a + b

# writefile의 데코레이터 기능은 아래와 같은 형식으로 result.txt에 항상 저장되게 하는 것입니다.
# {
#     "a": 10,
#     "b": 20,
#     "a+b": 30
# }

In [ ]:
# 기존 코드
def add(a,b):
    return a + b

result = add(10, 20) + add(10, 20)
print(result)

60

In [ ]:
# 동건님 코드 : 문제는 없으나 add를 실행시키긴 해야합니다!
# 데코레이터 => 아래 코드는 데코할 대상이 없는거에요.

'''
추가로 부연 설명을 합니다. :)
스토리로 굳이 표현하자면 아래와 같습니다.

1. add라는 함수를 내가 1년 전에 만들었다. 문제 없이 잘 작동하는 함수이다.
2. 이 add를 데코레이터를 써서 파일 입출력이 되게 하고 싶다.
3. 데코레이터를 만든다.
4. 기존의 코드도 정상적으로 작동이 되어야 한다.
'''

import json

def writerfile(func):
    def wrapper(a, b):
        data1 = ['a', 'b', 'a+b']
        data2 = [a, b, a+b]
        f = open('writerfile.json', 'w')
        json.dump(dict(zip(data1,data2)), f, indent = 4)
        f.close()
    return wrapper

@writerfile
def add(a,b):
    return a + b

add(10, 20)

In [ ]:
import json
def writerfile(func):
    def wrap_func(a,b):
        data1 = ['a', 'b', 'a+b']
        data2 = [a, b, a+b]
        f = open('writerfile.json', 'w')
        json.dump(dict(zip(data1,data2)), f, indent = 4)
        f.close()
        return func(a,b)
    return wrap_func
@writerfile
def add(a,b):
    return a+b

result = add(10,20) + add(10,20)
print(result)

60

In [ ]:
import json

def writerfile(func):
    def wrapper(a, b):
        data1 = ['a', 'b', 'a+b']
        data2 = [a, b, a+b]
        f = open('writerfile.json', 'w')
        json.dump(dict(zip(data1,data2)), f, indent = 4)
        f.close()
        return func(a, b)
    return wrapper

@writerfile
def add(a,b):
    return a + b

result = add(10, 20) + add(10, 20)
print(result)

In [ ]:
# 내가한것?
import json
data1 = ["a",'b','a+b']
data2 = [10, 20, 30]
def writefile(func):
    def plus(a,b):
        f = open('result.txt', 'w', encoding = 'utf-8')
        s = json.dumps(dict(zip['a','b','a+b']), indent=4)
        f.write(s)
        f.close()
    return plus

@writefile
def add(a,b):
    return a + b
add(10,20)

## Python Error 처리

* Python에서는 에러를 만나면 코드가(서비스가) 멈춥니다.

* 여러분들이 짠 코드가 서비스에 영향이 끼쳐지지 않도록 시니어 분들이 견고한 코드를 작성해놨을 겁니다. 

* TDD, 테스트 주도 개발 등 Test를 할 수 있는 환경 등이 갖춰져 있습니다. 

* 작성한 코드는 실서비스로 바로 배포되지 않습니다. 작성한 코드는 테스트 서버로 일단 배포돼서 잘 작동하는지 테스트 해봅니다.

In [6]:
# Syntax Error
for i in range(10)
    print(i)

SyntaxError: ignored

In [7]:
# Name Error
print(x)

NameError: ignored

In [8]:
# Type Error
x = 10
y = '20'
print(x + y)

TypeError: ignored

In [11]:
# Index Error
my_list = [1, 2, 3]
print(my_list[3])

IndexError: ignored

In [12]:
# Key Error
my_dict = {'a': 1, 'b': 2}
print(my_dict['c'])
# key에러를 발생시키지 않으려면 get을 사용해야함

KeyError: ignored

In [14]:
# Value Error
int('a')

ValueError: ignored

In [15]:
# ZeroDivision Error
x = 10
y = 0
print(x / y)

ZeroDivisionError: ignored

In [102]:
# 이건 가능 4를 추가하고 뽑았으니껭
my_list = [1, 2, 3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [103]:
# Attribute Error 4가 없는데 뭘 프린트행!
my_list = [1, 2, 3]
print(my_list.appeend(4))

AttributeError: ignored

In [105]:
# Type Error
def add(x, y):
    return x + y

add(1, 2, 3) # add(1,2) = 3 ! 근데 1,2,3은 오류 
# 아규먼트 잘못줬을때

TypeError: ignored

In [18]:
# File I/O Error
f = open('non-existent.txt', 'r')
f.read()

FileNotFoundError: ignored

## 예외 처리

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드

In [19]:
def div(a,b):
    return a / b
try:
    div(1,0)
except:
    print('예외 발생')

예외 발생

In [21]:
def div(a,b):
    return a / b

def f():
    try:
        return div(1,0)

    except:
        print('예외 발생')

result = f() + f() # result에는 float이 오길 기대하죠
print(result)

예외 발생
예외 발생

TypeError: ignored

In [23]:
def div(a,b):
    return a / b

def f():
    try:
        return div(1,0)

    except:
        return float('inf')

result = f() + f() # result에는 float이 오길 기대하죠
print(result)

inf

In [24]:
def div(a,b):
    return a / b

def f():
    try:
        return div(1,0)

    except:
        return 0

result = f() + f() # result에는 float이 오길 기대하죠
print(result)

0

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않을 때 실행되는 코드

In [25]:
try:
    1/0
except:
    print('예외 발생!')
else:
    print('정상 종료!')

예외 발생!
정상 종료!

In [ ]:
# while, for, try-except 구문에서 else는 언제 실행?
# 정상 종료 되었을 떄

In [26]:
try:
    10/2
except:
    print('예외 발생!')
else:
    print('정상 종료!')

정상 종료!

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드

In [28]:
# error가 나면 코드가 멈추기 때문에 보통 except와 함께 사용합니다. 
try:
    1/0
finally:
    print('finally')
print('hello world') # 이건 뜨지 않음

finally

ZeroDivisionError: ignored

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드

In [29]:
# finally는 정상종료가 되든 아니든 항상 실행되는 코드
# else는 정상 종료 일때만 출력 
try:
    1/0
except:
    print('hello')
finally:
    print('world')

hello
world

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않을 때 실행되는 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드

In [30]:
try:
    1/0
except:
    print('except')
else:
    print('else')
finally:
    print('finally')

except
finally

In [31]:
try:
    10/2
except:
    print('except')
else:
    print('else')
finally:
    print('finally')

else
finally

In [32]:
# 에러 이름을 바로 출력할 수 있다
raise

RuntimeError: ignored

In [33]:
# raise 에러이름
raise ValueError

ValueError: ignored

In [34]:
raise KimyeoJu

NameError: ignored

In [35]:
raise ValueError('코드를 잘~~ 만들어주세요.')

ValueError: ignored

In [36]:
try:
    1/0
except ValueError:
    print('ValueError')
except ZeroDivisionError:
    print('ZeroDivisionError')

print(ZeroDivisionError)

ZeroDivisionError
<class 'ZeroDivisionError'>

* Python 기초 역량 테스트 10문제

In [37]:
# 1번
원주율 = 3.141592
int(원주율)

3

In [ ]:
# 2번
b.1

In [41]:
# 3번
my_name = input('이름을 입력하세요.')
print('안녕하세요. {}입니다.'.format(my_name))

이름을 입력하세요.홍길동
안녕하세요. 홍길동입니다.

In [ ]:
# 4번 
c.reverse()

In [45]:
# 5번
num = int(input('숫자를 입력하세요'))
def divisor(num):
    data = []
    for i in range(1, num +1): # 1,11 -> 총 10개 순회
        if num % i == 0:
            data.append(i)
    return data
divisor(num)

숫자를 입력하세요10

[1, 2, 5, 10]

In [49]:
# 6번 -> 모르겠음
def solution(l, a):
    return l.count(a)

solution(['a', 'b', 'c', 'a', 'a'], 'a') # 정답 : 3

3

In [59]:
# 7번
def solution(l):
    return sorted(l, key = lambda x: x[1], reverse = True)
solution([[10, 5], [20, 3], [30, 4], [40, 1]])

[[10, 5], [30, 4], [20, 3], [40, 1]]

In [76]:
# 8번
def solution(l):
    return list(map(lambda x:x[0]-x[1], l))

solution([[10, 5], [20, 3], [30, 4], [40, 1]])

[5, 17, 26, 39]

In [88]:
# 8-1
l = []
for i in [[10, 5], [20, 3], [30, 4], [40, 1]]:
    l.append(i[0]-i[1])
l

[5, 17, 26, 39]

In [89]:
l = []
for i, j in [[10, 5], [20, 3], [30, 4], [40, 1]]:
    l.append(i-j)
l

[5, 17, 26, 39]

In [90]:
l = [i-j for i,j in [[10, 5], [20, 3], [30, 4], [40, 1]]]
l

[5, 17, 26, 39]

In [78]:
# 9번
def solution(s):
    return sum(int(i) for i in s)

solution('11123')

8

In [92]:
s = 0
for i in '11123':
    s += int(i)
s

8

In [93]:
[int(i) for i in '11123']

[1, 1, 1, 2, 3]

In [94]:
sum([int(i)for i in '11123'])

8

In [95]:
list(map(int,'11123'))

[1, 1, 1, 2, 3]

In [96]:
sum(map(int,'11123'))

8

In [81]:
# 10번
def solution(s):
    return s.replace('!','').replace(' ','')

solution('!hello!wor     ld!     ')

'helloworld'

## 클로저, 팩토리 함수

In [99]:
def one():
    def two():
        return
    return two # 원래 two는 return을 함으로써 종료되는데 

hello = one()  # hello == two  # hello가 얘를 참조함 그래서 one()이 살아있음

In [107]:
def one(x):
    def two():
        return x + x
    return two
hello = one(10) # hello == two
hello() # hello() == two()

20

In [109]:
def one(x):
    def two(a, b):
        return a + b + x
    return two
hello = one(10) # hello == two
hello(2, 3) # hello() == two()

15

In [113]:
def user(username, usermoney):
    def buy(productname, productprice):
        leftmoney = usermoney - productprice
        return f'{productname}를 {username}님이 구매하셔서 계좌에 {leftmoney}가 남아있습니다.'
    return buy

buy = user('leehojun', 1000000)
buy('자전거', 100000)

'자전거를 leehojun님이 구매하셔서 계좌에 900000가 남아있습니다.'

In [115]:
def user(name, usermoney):
    def buy(productname, productprice):
        leftmoney = usermoney - productprice
        return f'{productname}를 {username}님이 구매하셔서 계좌에 {leftmoney}가 남아있습니다.'
    return buy
buy = user('kimyeoju', 1000000) # hello == two
buy('자전거', 100000) # hello() == two()

NameError: ignored

In [114]:
def user(username, usermoney):
    def userbuy(productname, productprice):
        leftmoney = usermoney - productprice
        return f'{productname}를 {username}님이 구매하셔서 계좌에 {leftmoney}가 남아있습니다.'
    return userbuy

이호준구매 = user('leehojun', 1000000)
이호준구매('자전거', 100000)

홍길동구매 = user('hongildong', 1000000)
홍길동구매('킥보드', 50000)

'킥보드를 hongildong님이 구매하셔서 계좌에 950000가 남아있습니다.'

In [ ]:
def user(username, usermoney):
    def userbuy(productname, productprice):
        leftmoney = usermoney - productprice
        return f'{productname}를 {username}님이 구매하셔서 계좌에 {leftmoney}가 남아있습니다.'
    return userbuy

이호준구매 = user('leehojun', 1000000)
이호준구매('자전거', 100000)

홍길동구매 = user('hongildong', 1000000)
홍길동구매('킥보드', 50000)

# 이호준구매와 홍길동구매 함수를 가지고 계좌를 조작할 수 있나요?
# 계좌 변수에 접근할 수 있나요?